pi/nodered/flows.json
[
    {
        "id": "7e7308018823ce78",
        "type": "tab",
        "label": "Message Router",
        "disabled": false,
        "info": "Routes ChirpStack messages by fPort"
    },
    {
        "id": "155f01355999b8a5",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "UIBuilder dashboard handlers"
    },
    {
        "id": "72aa6c226990e117",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4",
            "node-red-contrib-uibuilder": "7.5.0"
        }
    },
    {
        "id": "pg-config",
        "type": "postgreSQLConfig",
        "name": "FarmMon DB",
        "host": "postgres",
        "port": "5432",
        "database": "farmmon",
        "ssl": false,
        "max": "10",
        "idle": "1000",
        "connectionTimeout": "10000",
        "user": "farmmon",
        "password": "farmmon"
    },
    {
        "id": "e1b2c3d4e5f6a7b8",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-farm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d1b95fed578f33c0",
        "type": "mqtt in",
        "z": "7e7308018823ce78",
        "name": "ChirpStack Uplinks",
        "topic": "application/+/device/+/event/up",
        "qos": "0",
        "datatype": "json",
        "broker": "e1b2c3d4e5f6a7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 380,
        "wires": [
            [
                "a1bc98544f61aa96"
            ]
        ]
    },
    {
        "id": "a1bc98544f61aa96",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Extract Device Info",
        "func": "// ChirpStack v4: normalized device message shape (DATA_CONTRACT)\nconst raw = msg.payload;\n\nconst event =\n    raw?.data &&\n        typeof raw.data === 'object' &&\n        raw.data?.deviceInfo &&\n        raw.data?.rxInfo\n        ? raw.data\n        : raw;\n\n// Resolve device EUI\nconst deviceEui =\n    event.deviceInfo?.devEui ||\n    event.deviceInfo?.dev_eui ||\n    'unknown';\n\nif (!deviceEui || deviceEui === 'unknown') {\n    node.status({\n        fill: 'red',\n        shape: 'dot',\n        text: 'no deviceEui'\n    });\n    return null;\n}\n\nconst deviceName =\n    event.deviceInfo?.deviceName ||\n    event.deviceInfo?.device_name ||\n    '';\n\nconst fPort = event.fPort ?? 2;\nconst data = event.object || {};\n\n// RX info (signal metrics)\nconst rx = event.rxInfo || event.rx_info || [];\n\nconst toNum = (v) => {\n    const n = Number(v);\n    return Number.isFinite(n) ? n : null;\n};\n\nconst rssi = toNum(rx[0]?.rssi);\nconst snr = toNum(rx[0]?.snr);\n\n// Normalize onto msg\nmsg.deviceEui = deviceEui;\nmsg.deviceName = deviceName;\nmsg.fPort = fPort;\nmsg.data = data;\nmsg.rssi = rssi;\nmsg.snr = snr;\nmsg.rawPayload = raw;\n\nnode.status({\n    fill: 'green',\n    shape: 'dot',\n    text: `${deviceEui.slice(-4)} fPort:${fPort}`\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "5f5b19ca44b4888f",
                "44bc74729bfdd453"
            ]
        ]
    },
    {
        "id": "44bc74729bfdd453",
        "type": "debug",
        "z": "7e7308018823ce78",
        "name": "Raw Messages",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 600,
        "y": 240,
        "wires": []
    },
    {
        "id": "5f5b19ca44b4888f",
        "type": "switch",
        "z": "7e7308018823ce78",
        "name": "Route by fPort",
        "property": "fPort",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "4",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "8",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 6,
        "x": 560,
        "y": 380,
        "wires": [
            [
                "06ad1ed1d647a35e"
            ],
            [
                "ed7fa461dc727bcf"
            ],
            [
                "783b8a1e1f606267"
            ],
            [
                "d3da543618bdb360"
            ],
            [
                "b8c9d0e1f2a3b4c5"
            ],
            [
                "ed7fa461dc727bcf"
            ]
        ]
    },
    {
        "id": "06ad1ed1d647a35e",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Registration Handler (fPort 1)",
        "func": "// Parser helper functions (reused from codec.js logic)\n\nfunction parseFields(text, category) {\n  if (!text) return [];\n\n  return text\n    .split(',')\n    .map((f, idx) => {\n      const parts = f.split(':');\n      return {\n        idx: idx,\n        k: parts[0] || '',\n        n: parts[1] || parts[0] || '',\n        u: parts[2] || '',\n        min: parts[3] ? parseFloat(parts[3]) : undefined,\n        max: parts[4] ? parseFloat(parts[4]) : undefined,\n        c: category,\n        t: 'num',\n        s: parts[5] || ''\n      };\n    })\n    .filter(f => f.k);\n}\n\nfunction parseSystemFields(text) {\n  if (!text) return [];\n\n  return text\n    .split(',')\n    .map((f, idx) => {\n      const parts = f.split(':');\n      return {\n        idx: idx,\n        k: parts[0] || '',\n        n: parts[1] || parts[0] || '',\n        u: parts[2] || '',\n        min: parts[3] ? parseFloat(parts[3]) : undefined,\n        max: parts[4] ? parseFloat(parts[4]) : undefined,\n        c: 'sys',\n        t: 'num',\n        rw: parts[5] === 'w',\n        s: parts[6] || ''\n      };\n    })\n    .filter(f => f.k);\n}\n\nfunction parseStates(text) {\n  if (!text) return [];\n\n  return text\n    .split(',')\n    .map((s, idx) => {\n      const parts = s.split(':');\n      const values = (parts[2] || 'off;on').split(';');\n\n      return {\n        idx: idx,\n        k: parts[0] || '',\n        n: parts[1] || parts[0] || '',\n        c: 'state',\n        t: 'enum',\n        v: values\n      };\n    })\n    .filter(s => s.k);\n}\n\nfunction parseCmds(text) {\n  if (!text) return [];\n\n  return text\n    .split(',')\n    .map(c => {\n      const parts = c.split(':');\n      return {\n        k: parts[0] || '',\n        port: parseInt(parts[1], 10) || 0\n      };\n    })\n    .filter(c => c.k);\n}\n\nfunction reassembleRegistration(frames) {\n  // Parse header (key=value pairs)\n  const header = {};\n\n  if (frames.header) {\n    frames.header.split('|').forEach(pair => {\n      const eqIdx = pair.indexOf('=');\n      if (eqIdx >= 0) {\n        const k = pair.substring(0, eqIdx);\n        const v = pair.substring(eqIdx + 1);\n        if (k && v) header[k] = v;\n      }\n    });\n  }\n\n  return {\n    v: parseInt(header.v, 10) || 1,\n    sv: parseInt(header.sv, 10) || 1,\n    type: header.type || 'unknown',\n    fw: header.fw || '0.0.0',\n    fields: parseFields(\n      frames.fields ? frames.fields.split('=')[1] : '',\n      'cont'\n    ),\n    sys: parseSystemFields(\n      frames.sys ? frames.sys.split('=')[1] : ''\n    ),\n    states: parseStates(\n      frames.states ? frames.states.split('=')[1] : ''\n    ),\n    cmds: parseCmds(\n      frames.cmds ? frames.cmds.split('=')[1] : ''\n    )\n  };\n}\n\n// Main registration handler\nconst deviceEui = msg.deviceEui;\nconst data = msg.data;\n\n// Multi-frame registration handling\nif (data && data.isFrame) {\n  const buffers = context.get('regBuffers') || {};\n\n  if (!buffers[deviceEui]) {\n    buffers[deviceEui] = {\n      frames: {},\n      timestamp: Date.now()\n    };\n  }\n\n  const buffer = buffers[deviceEui];\n  buffer.frames[data.frameKey] = data.frameData;\n\n  const required = ['header', 'fields', 'sys', 'states', 'cmds'];\n  const received = Object.keys(buffer.frames);\n  const complete = required.every(k => received.includes(k));\n\n  if (complete) {\n    msg.registration = reassembleRegistration(buffer.frames);\n    msg.schemaVersion = msg.registration.sv || 1;\n\n    msg.params = [\n      deviceEui,\n      msg.deviceName || msg.registration.type || 'Unknown',\n      msg.registration.type || 'unknown',\n      msg.registration.fw || '0.0.0',\n      JSON.stringify(msg.registration)\n    ];\n\n    delete buffers[deviceEui];\n    context.set('regBuffers', buffers);\n\n    node.status({\n      fill: 'blue',\n      shape: 'dot',\n      text: `Reg v${msg.schemaVersion}: ${deviceEui.slice(-4)}`\n    });\n\n    return msg;\n  }\n\n  // Timeout (30s)\n  if (Date.now() - buffer.timestamp > 30000) {\n    const missing = required.filter(k => !received.includes(k));\n    node.warn(\n      `Registration timeout: ${deviceEui}, missing: ${missing.join(', ')}`\n    );\n    delete buffers[deviceEui];\n    context.set('regBuffers', buffers);\n    return null;\n  }\n\n  context.set('regBuffers', buffers);\n  node.status({\n    fill: 'yellow',\n    shape: 'dot',\n    text: `Reg ${received.length}/5: ${deviceEui.slice(-4)}`\n  });\n\n  return null;\n}\n\n// Legacy single-frame format\nconst reg = data;\n\nif (!reg || (!reg.fields && !reg.states)) {\n  node.warn('Invalid registration: missing fields/states');\n  return null;\n}\n\nmsg.registration = reg;\nmsg.schemaVersion = reg.sv || 1;\n\nmsg.params = [\n  deviceEui,\n  msg.deviceName || reg.type || 'Unknown',\n  reg.type || 'unknown',\n  reg.fw || '0.0.0',\n  JSON.stringify(reg)\n];\n\nnode.status({\n  fill: 'blue',\n  shape: 'dot',\n  text: `Reg v${msg.schemaVersion}: ${deviceEui.slice(-4)}`\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 280,
        "wires": [
            [
                "36cedf9b94a2fa16"
            ]
        ]
    },
    {
        "id": "36cedf9b94a2fa16",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Upsert Device",
        "query": "INSERT INTO devices (device_eui, device_name, device_type, firmware_version, registration)\nVALUES ($1, $2, $3, $4, $5::jsonb)\nON CONFLICT (device_eui) DO UPDATE SET\n    device_name = EXCLUDED.device_name,\n    device_type = EXCLUDED.device_type,\n    firmware_version = EXCLUDED.firmware_version,\n    registration = EXCLUDED.registration,\n    last_seen = NOW()\nRETURNING device_eui",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1100,
        "y": 280,
        "wires": [
            [
                "6f07ab39d8e37374",
                "a3ca1449ca2f1388"
            ]
        ]
    },
    {
        "id": "a3ca1449ca2f1388",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Send Registration ACK",
        "func": "// Build ChirpStack downlink to acknowledge registration\nconst deviceEui = msg.deviceEui;\n\n// ChirpStack v4 downlink via MQTT\nconst appId =\n  global.get('chirpstackAppId') ||\n  '885c4dd2-e474-4265-bd25-2f838571f8de';\n\nmsg.topic = `application/${appId}/device/${deviceEui}/command/down`;\n\nmsg.payload = {\n  devEui: deviceEui,\n  confirmed: false,\n  fPort: 5,\n  data: 'AQ==' // 0x01 byte, base64 encoded\n};\n\nnode.status({\n  fill: 'green',\n  shape: 'dot',\n  text: `ACK: ${deviceEui.slice(-4)}`\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 180,
        "wires": [
            [
                "4e14998ffcae6e07"
            ]
        ]
    },
    {
        "id": "4e14998ffcae6e07",
        "type": "mqtt out",
        "z": "7e7308018823ce78",
        "name": "Send Reg ACK Downlink",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 1610,
        "y": 180,
        "wires": []
    },
    {
        "id": "6f07ab39d8e37374",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Parse & Store Fields",
        "func": "const deviceEui = msg.deviceEui;\nconst reg = msg.registration;\n\n// Build batch inserts\nconst fields = reg.fields || [];\nconst sysFields = reg.sys || [];\nconst states = reg.states || [];\nconst triggers = reg.triggers || [];\nconst cmds = reg.cmds || [];\n\n// Deduplicate helper (keep last)\nconst dedup = (arr, keyFn) => {\n    const map = new Map();\n    arr.forEach(item => map.set(keyFn(item), item));\n    return Array.from(map.values());\n};\n\n// Combine telemetry + system fields\nconst allFields = [...fields, ...sysFields];\n\n// Field inserts (device-provided category is authoritative)\nmsg.fieldRows = dedup(\n    allFields.map(f => ({\n        device_eui: deviceEui,\n        field_key: f.k,\n        display_name: f.n,\n        data_type: f.t || 'num',\n        unit: f.u || null,\n        category: f.c,\n        min_value: f.min ?? null,\n        max_value: f.max ?? null,\n        enum_values: f.v ? JSON.stringify(f.v) : null\n    })),\n    r => r.field_key\n);\n\n// Add states as fields (category = state)\nconst stateFields = states.map(s => ({\n    device_eui: deviceEui,\n    field_key: s.k,\n    display_name: s.n || s.k,\n    data_type: 'enum',\n    unit: null,\n    category: 'state',\n    min_value: null,\n    max_value: null,\n    enum_values: s.v ? JSON.stringify(s.v) : null\n}));\n\nmsg.fieldRows = dedup(\n    [...msg.fieldRows, ...stateFields],\n    r => r.field_key\n);\n\n// Controls from states\nmsg.controlRows = dedup(\n    states.map(s => ({\n        device_eui: deviceEui,\n        control_key: s.k,\n        current_state: s.v ? s.v[0] : 'off',\n        mode: 'auto'\n    })),\n    r => r.control_key\n);\n\n// Triggers\nmsg.triggerRows = dedup(\n    triggers.map(t => ({\n        device_eui: deviceEui,\n        trigger_key: t.k,\n        display_name: t.n,\n        field_key: t.f,\n        operator: t.op,\n        threshold: t.th,\n        action_control: t.ctrl,\n        action_state: t.st,\n        enabled: true\n    })),\n    r => r.trigger_key\n);\n\n// Schema row\nmsg.schemaRow = {\n    device_eui: deviceEui,\n    version: msg.schemaVersion || reg.sv || 1,\n    schema: JSON.stringify({\n        fields: allFields,\n        controls: states,\n        cmds\n    })\n};\n\n// Viz defaults\nconst vizFields = [\n    ...allFields,\n    ...states.map(s => ({ ...s, c: 'state', t: 'enum' }))\n];\n\nmsg.vizRows = dedup(\n    vizFields.map(f => {\n        let vizType = 'badge';\n        let gaugeStyle = null;\n        let chartColor = '#3b82f6';\n        let sortOrder = 100;\n\n        if (f.c === 'state') {\n            vizType = 'toggle';\n        } else if (f.c === 'sys') {\n            chartColor = '#6b7280';\n            sortOrder = 200;\n        } else if ((f.t === 'num' || !f.t) && f.c === 'cont') {\n            vizType =\n                f.min !== undefined && f.max !== undefined\n                    ? 'both'\n                    : 'chart';\n            gaugeStyle = 'radial';\n\n            const key = f.k.toLowerCase();\n            if (key.includes('level') || key.includes('tank') || key === 'wl') {\n                gaugeStyle = 'liquid';\n                sortOrder = 10;\n            } else if (key.includes('battery') || key === 'bp') {\n                chartColor = '#10b981';\n                sortOrder = 20;\n            } else if (key.includes('rssi')) {\n                chartColor = '#f59e0b';\n                sortOrder = 80;\n            } else if (key.includes('snr')) {\n                chartColor = '#8b5cf6';\n                sortOrder = 90;\n            }\n        }\n\n        const thresholds =\n            (f.t === 'num' || !f.t) &&\n                f.min !== undefined &&\n                f.max !== undefined\n                ? JSON.stringify([\n                    { pct: 0.2, color: '#ef4444' },\n                    { pct: 0.5, color: '#f59e0b' },\n                    { pct: 1.0, color: '#10b981' }\n                ])\n                : null;\n\n        return {\n            device_eui: deviceEui,\n            field_key: f.k,\n            viz_type: vizType,\n            gauge_style: gaugeStyle,\n            chart_color: chartColor,\n            thresholds,\n            is_visible: f.c !== 'sys',\n            sort_order: sortOrder\n        };\n    }),\n    r => r.field_key\n);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 280,
        "wires": [
            [
                "50db4638a39fc128",
                "810308c6f9d1630a"
            ]
        ]
    },
    {
        "id": "50db4638a39fc128",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Insert Fields",
        "func": "// Build INSERT for fields\nif (msg.fieldRows.length === 0) return msg;\n\nconst values = msg.fieldRows.map((r, i) => {\n    const offset = i * 9;\n    return `($${offset+1}, $${offset+2}, $${offset+3}, $${offset+4}, $${offset+5}, $${offset+6}, $${offset+7}, $${offset+8}, $${offset+9}::jsonb)`;\n}).join(',\\n');\n\nmsg.query = `INSERT INTO device_fields \n(device_eui, field_key, display_name, data_type, unit, category, min_value, max_value, enum_values)\nVALUES ${values}\nON CONFLICT (device_eui, field_key) DO UPDATE SET\ndisplay_name = EXCLUDED.display_name,\ndata_type = EXCLUDED.data_type,\nunit = EXCLUDED.unit,\ncategory = EXCLUDED.category,\nmin_value = EXCLUDED.min_value,\nmax_value = EXCLUDED.max_value,\nenum_values = EXCLUDED.enum_values`;\n\nmsg.params = msg.fieldRows.flatMap(r => [\n    r.device_eui, r.field_key, r.display_name, r.data_type,\n    r.unit, r.category, r.min_value, r.max_value, r.enum_values\n]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 280,
        "wires": [
            [
                "84fb6f0483dda5d8"
            ]
        ]
    },
    {
        "id": "84fb6f0483dda5d8",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Execute",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1700,
        "y": 280,
        "wires": [
            [
                "c342a88d0274bc59"
            ]
        ]
    },
    {
        "id": "c342a88d0274bc59",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Insert Controls",
        "func": "if (msg.controlRows.length === 0) return msg;\n\nconst values = msg.controlRows.map((r, i) => {\n    const offset = i * 4;\n    return `($${offset+1}, $${offset+2}, $${offset+3}, $${offset+4})`;\n}).join(',\\n');\n\nmsg.query = `INSERT INTO device_controls \n(device_eui, control_key, current_state, mode)\nVALUES ${values}\nON CONFLICT (device_eui, control_key) DO UPDATE SET\ncurrent_state = EXCLUDED.current_state,\nmode = EXCLUDED.mode`;\n\nmsg.params = msg.controlRows.flatMap(r => [\n    r.device_eui, r.control_key, r.current_state, r.mode\n]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1870,
        "y": 280,
        "wires": [
            [
                "a0dceda4f7856111"
            ]
        ]
    },
    {
        "id": "a0dceda4f7856111",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Execute",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2040,
        "y": 280,
        "wires": [
            [
                "7361cf7c736b052a"
            ]
        ]
    },
    {
        "id": "7361cf7c736b052a",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Insert Triggers",
        "func": "if (msg.triggerRows.length === 0) return msg;\n\nconst values = msg.triggerRows.map((r, i) => {\n    const offset = i * 9;\n    return `($${offset+1}, $${offset+2}, $${offset+3}, $${offset+4}, $${offset+5}, $${offset+6}, $${offset+7}, $${offset+8}, $${offset+9})`;\n}).join(',\\n');\n\nmsg.query = `INSERT INTO device_triggers \n(device_eui, trigger_key, display_name, field_key, operator, threshold, action_control, action_state, enabled)\nVALUES ${values}\nON CONFLICT (device_eui, trigger_key) DO UPDATE SET\n    display_name = EXCLUDED.display_name,\n    field_key = EXCLUDED.field_key,\n    operator = EXCLUDED.operator,\n    threshold = EXCLUDED.threshold,\n    action_control = EXCLUDED.action_control,\n    action_state = EXCLUDED.action_state,\n    enabled = EXCLUDED.enabled`;\n\nmsg.params = msg.triggerRows.flatMap(r => [\n    r.device_eui, r.trigger_key, r.display_name, r.field_key,\n    r.operator, r.threshold, r.action_control, r.action_state, r.enabled\n]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 280,
        "wires": [
            [
                "a12fcd8d731d31b8"
            ]
        ]
    },
    {
        "id": "a12fcd8d731d31b8",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Execute",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2390,
        "y": 280,
        "wires": [
            [
                "119fba13945adb8c"
            ]
        ]
    },
    {
        "id": "119fba13945adb8c",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Upsert Viz Config",
        "func": "if (msg.vizRows.length === 0) return msg;\n\nconst values = msg.vizRows.map((r, i) => {\n    const offset = i * 8;\n    return `($${offset+1}, $${offset+2}, $${offset+3}, $${offset+4}, $${offset+5}, $${offset+6}::jsonb, $${offset+7}, $${offset+8})`;\n}).join(',\\n');\n\nmsg.query = `INSERT INTO viz_config \n(device_eui, field_key, viz_type, gauge_style, chart_color, thresholds, is_visible, sort_order)\nVALUES ${values}\nON CONFLICT (device_eui, field_key) DO UPDATE SET\n    viz_type = COALESCE(viz_config.viz_type, EXCLUDED.viz_type),\n    gauge_style = COALESCE(viz_config.gauge_style, EXCLUDED.gauge_style),\n    chart_color = COALESCE(viz_config.chart_color, EXCLUDED.chart_color)`;\n\nmsg.params = msg.vizRows.flatMap(r => [\n    r.device_eui, r.field_key, r.viz_type, r.gauge_style,\n    r.chart_color, r.thresholds, r.is_visible, r.sort_order\n]);\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 280,
        "wires": [
            [
                "0c6f8ced1f6b2d1c"
            ]
        ]
    },
    {
        "id": "0c6f8ced1f6b2d1c",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Execute",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2760,
        "y": 280,
        "wires": [
            [
                "f8a2b3c4d5e6f7a8"
            ]
        ]
    },
    {
        "id": "f8a2b3c4d5e6f7a8",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Insert Schema",
        "func": "// Store schema version in device_schemas for history tracking\nconst s = msg.schemaRow;\nif (!s || !s.device_eui) return msg;\n\nmsg.query = `INSERT INTO device_schemas (device_eui, version, schema)\nVALUES ($1, $2, $3::jsonb)\nON CONFLICT (device_eui, version) DO NOTHING`;\n\nmsg.params = [s.device_eui, s.version, s.schema];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2940,
        "y": 280,
        "wires": [
            [
                "a9b8c7d6e5f4a3b2"
            ]
        ]
    },
    {
        "id": "a9b8c7d6e5f4a3b2",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Execute Schema",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 3140,
        "y": 280,
        "wires": [
            [
                "66c1bffb93d6651d"
            ]
        ]
    },
    {
        "id": "66c1bffb93d6651d",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Notify UI",
        "func": "// Send registration notification to UI\nreturn {\n    topic: 'deviceRegistered',\n    payload: {\n        eui: msg.deviceEui,\n        name: msg.deviceName,\n        type: msg.registration.type,\n        firmware: msg.registration.fw\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3340,
        "y": 280,
        "wires": [
            [
                "613db87855a6ed79"
            ]
        ]
    },
    {
        "id": "ed7fa461dc727bcf",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Telemetry Handler (fPort 2)",
        "func": "// Telemetry row from normalized message only (DATA_CONTRACT)\nconst deviceEui = msg.deviceEui;\nconst data = msg.data;\n\nmsg.params = [\n    deviceEui,\n    JSON.stringify(data || {}),\n    msg.rssi ?? null,\n    msg.snr ?? null\n];\n\nnode.status({\n    fill: 'green',\n    shape: 'dot',\n    text: `Telemetry: ${deviceEui.slice(-4)}`\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 460,
        "wires": [
            [
                "3737949cca34c751",
                "prep_last_seen_params"
            ]
        ]
    },
    {
        "id": "3737949cca34c751",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Store Telemetry",
        "query": "INSERT INTO telemetry (device_eui, data, rssi, snr) VALUES ($1, $2::jsonb, $3, $4) RETURNING id",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1110,
        "y": 460,
        "wires": [
            [
                "2638c0b94e884a39"
            ]
        ]
    },
    {
        "id": "d8e9934b853d9ac8",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Update Last Seen",
        "query": "UPDATE devices SET last_seen = NOW() WHERE device_eui = $1",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1330,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "2638c0b94e884a39",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Update Controls from Telemetry",
        "func": "// Update device_controls with state values from telemetry\nconst deviceEui = msg.deviceEui;\nconst data = msg.data;\n\n// Get state fields from context (or query later)\n// For now, check common state fields\nconst stateFields = ['pump', 'valve'];\nconst updates = [];\n\nfor (const key of stateFields) {\n    if (data[key] !== undefined) {\n        updates.push({ control_key: key, state: data[key] });\n    }\n}\n\nif (updates.length === 0) {\n    // No state updates, proceed to push telemetry\n    return [msg, null];\n}\n\nmsg.stateUpdates = updates;\nreturn [msg, msg];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 460,
        "wires": [
            [
                "ebeb53a7d2ebd90d"
            ],
            [
                "3625a9e18829b23e"
            ]
        ]
    },
    {
        "id": "3625a9e18829b23e",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Build Control Updates",
        "func": "const deviceEui = msg.deviceEui;\nconst updates = msg.stateUpdates;\n\n// Build update query for each control\nconst cases = updates.map((u, i) => \n    `WHEN control_key = $${i*2+2} THEN $${i*2+3}`\n).join(' ');\n\nconst keys = updates.map(u => u.control_key);\n\nmsg.query = `UPDATE device_controls \nSET current_state = CASE ${cases} END,\n    last_change_at = NOW()\nWHERE device_eui = $1 AND control_key IN (${keys.map((_, i) => `$${i*2+2}`).join(', ')})`;\n\nmsg.params = [deviceEui, ...updates.flatMap(u => [u.control_key, u.state])];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 520,
        "wires": [
            [
                "1d12445185b13be9"
            ]
        ]
    },
    {
        "id": "1d12445185b13be9",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Execute",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1820,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ebeb53a7d2ebd90d",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Push to UI",
        "func": "return {\n    topic: 'telemetry',\n    payload: {\n        eui: msg.deviceEui,\n        data: msg.data,\n        rssi: msg.rssi,\n        snr: msg.snr,\n        ts: new Date().toISOString()\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 460,
        "wires": [
            [
                "1edd34bc2dab0ea3",
                "c6b3476bff3ec6b0"
            ]
        ]
    },
    {
        "id": "1edd34bc2dab0ea3",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Prepare Rules Query",
        "func": "// Prepare query for user rules\nmsg.params = [msg.payload.eui];\nmsg.telemetryData = msg.payload.data;\nmsg.deviceEui = msg.payload.eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1840,
        "y": 460,
        "wires": [
            [
                "c667ecaf2b954a2e"
            ]
        ]
    },
    {
        "id": "c667ecaf2b954a2e",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Get User Rules",
        "query": "SELECT r.*, c.current_state, c.mode, c.manual_until\nFROM user_rules r\nLEFT JOIN device_controls c ON r.device_eui = c.device_eui AND r.action_control = c.control_key\nWHERE r.device_eui = $1 AND r.enabled = true",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2040,
        "y": 460,
        "wires": [
            [
                "ce3a52914447fd2a"
            ]
        ]
    },
    {
        "id": "ce3a52914447fd2a",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Evaluate Rules",
        "func": "const rules = msg.payload || [];\nconst data = msg.telemetryData;\nconst deviceEui = msg.deviceEui;\n\nif (!rules.length || !data) return null;\n\n// Operator functions\nconst ops = {\n    '<': (a, b) => a < b,\n    '>': (a, b) => a > b,\n    '<=': (a, b) => a <= b,\n    '>=': (a, b) => a >= b,\n    '=': (a, b) => a == b,\n    '==': (a, b) => a == b,\n    '!=': (a, b) => a != b\n};\n\nconst now = Date.now();\nconst triggeredRules = [];\n\nfor (const rule of rules) {\n    // Check cooldown\n    if (rule.last_triggered) {\n        const elapsed = (now - new Date(rule.last_triggered).getTime()) / 1000;\n        if (elapsed < (rule.cooldown_seconds || 300)) {\n            continue;\n        }\n    }\n\n    // Check if control is in manual mode\n    if (rule.mode === 'manual') {\n        if (!rule.manual_until || new Date(rule.manual_until) > new Date()) {\n            continue; // Still in manual mode\n        }\n    }\n\n    // Parse condition\n    const condition = rule.condition;\n    if (!condition || !condition.field || !condition.op) continue;\n\n    const fieldValue = data[condition.field];\n    if (fieldValue === undefined) continue;\n\n    const op = ops[condition.op];\n    if (!op) continue;\n\n    // Evaluate condition\n    if (op(fieldValue, condition.val)) {\n        // Rule triggered!\n        triggeredRules.push({\n            ruleId: rule.id,\n            ruleName: rule.name,\n            control: rule.action_control,\n            state: rule.action_state,\n            reason: `rule:${rule.id}`\n        });\n    }\n}\n\nif (triggeredRules.length === 0) return null;\n\n// For now, take first triggered rule (could add priority handling)\nconst triggered = triggeredRules[0];\nmsg.triggeredRule = triggered;\nmsg.ruleParams = [triggered.ruleId];\n\nnode.status({fill: 'yellow', shape: 'dot', text: `Rule: ${triggered.ruleName}`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2220,
        "y": 460,
        "wires": [
            [
                "5c3e697b051fa223",
                "a1622c9b7b8d4431"
            ]
        ]
    },
    {
        "id": "5c3e697b051fa223",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Update Rule Triggered",
        "query": "UPDATE user_rules SET last_triggered = NOW() WHERE id = $1",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2440,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "a1622c9b7b8d4431",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Build Rule Downlink",
        "func": "const triggered = msg.triggeredRule;\nconst deviceEui = msg.deviceEui;\n\n// Command ports by control type\nconst commandPorts = { 'pump': 20, 'valve': 21 };\nconst port = commandPorts[triggered.control] || 20;\nconst stateValue = (triggered.state === 'on' || triggered.state === 'open') ? 0x01 : 0x00;\n\n// Prepare command log\nmsg.cmdParams = [\n    deviceEui,\n    `set_${triggered.control}`,\n    JSON.stringify({ state: triggered.state }),\n    triggered.reason,\n    'sent'\n];\n\n// Build downlink\nconst appId = global.get('chirpstackAppId') || '885c4dd2-e474-4265-bd25-2f838571f8de';\nmsg.topic = `application/${appId}/device/${deviceEui}/command/down`;\nmsg.payload = {\n    devEui: deviceEui,\n    confirmed: false,\n    fPort: port,\n    data: Buffer.from([stateValue]).toString('base64')\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2440,
        "y": 400,
        "wires": [
            [
                "c945c880f45e550e",
                "4018fc1d8b2ad263"
            ]
        ]
    },
    {
        "id": "c945c880f45e550e",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Log Command",
        "query": "INSERT INTO commands (device_eui, command_key, payload, initiated_by, status, sent_at)\nVALUES ($1, $2, $3::jsonb, $4, $5, NOW())",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2680,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4018fc1d8b2ad263",
        "type": "mqtt out",
        "z": "7e7308018823ce78",
        "name": "Send Rule Downlink",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 2700,
        "y": 400,
        "wires": []
    },
    {
        "id": "783b8a1e1f606267",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "State Change Handler (fPort 3)",
        "func": "// Process state change event(s).\n// Binary only: data.stateChanges from codec.\n\nconst deviceEui = msg.deviceEui;\nconst data = msg.data;\n\nfunction makeStateChangeMsg(base, stateChange) {\n    const m = Object.assign({}, base);\n\n    m.stateChange = stateChange;\n    m.needsSchemaLookup = true;\n    m.params = [deviceEui];\n\n    return m;\n}\n\nif (Array.isArray(data.stateChanges) && data.stateChanges.length > 0) {\n    const out = data.stateChanges.map(sc =>\n        makeStateChangeMsg(msg, {\n            control_idx: sc.control_idx,\n            new_state_idx: sc.new_state,\n            old_state_idx: sc.old_state,\n            source: sc.source || 'device',\n            rule_id: sc.rule_id,\n            device_ms: sc.device_ms,\n            seq: sc.seq\n        })\n    );\n\n    node.status({\n        fill: 'yellow',\n        shape: 'dot',\n        text: `StateChange: ${deviceEui.slice(-4)} (${out.length})`\n    });\n\n    return out;\n}\n\nif (data.error) {\n    node.warn('State change decode error: ' + data.error);\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 580,
        "wires": [
            [
                "e1f2a3b4c5d6e7f8"
            ]
        ]
    },
    {
        "id": "e1f2a3b4c5d6e7f8",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Get Latest Schema",
        "query": "SELECT schema FROM device_schemas WHERE device_eui = $1 ORDER BY version DESC LIMIT 1",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1130,
        "y": 580,
        "wires": [
            [
                "d2e3f4a5b6c7d8e9"
            ]
        ]
    },
    {
        "id": "d2e3f4a5b6c7d8e9",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Resolve Schema Indices",
        "func": "// Map control_idx and state_idx to names using schema\nconst sc = msg.stateChange;\nconst schema = msg.payload?.[0]?.schema;\n\nif (msg.needsSchemaLookup && schema) {\n    const controls = schema.controls || [];\n    const ctrl = controls[sc.control_idx];\n    \n    if (!ctrl) {\n        node.warn(`Unknown control_idx: ${sc.control_idx}`);\n        return null;\n    }\n    \n    const states = ctrl.v || ['off', 'on'];\n    const newStateName = states[sc.new_state_idx] || `state_${sc.new_state_idx}`;\n    const oldStateName = states[sc.old_state_idx] || `state_${sc.old_state_idx}`;\n    \n    sc.control_key = ctrl.k;\n    sc.new_state = newStateName;\n    sc.old_state = oldStateName;\n    sc.reason = sc.source || 'device';\n    \n    // Calculate device timestamp if we have device_ms\n    if (sc.device_ms) {\n        // Approximate - server time minus device uptime\n        // TODO: could improve with server-side time sync\n        sc.device_ts = null;\n    }\n} else if (!msg.needsSchemaLookup) {\n    // Legacy format already has names\n    sc.old_state = null; // Will be fetched from DB\n}\n\nmsg.stateChange = sc;\nmsg.stateParams = [msg.deviceEui, sc.control_key];\n\nnode.status({fill: 'yellow', shape: 'dot', text: `${sc.control_key}: ${sc.new_state}`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 580,
        "wires": [
            [
                "70e4763f19d63008"
            ]
        ]
    },
    {
        "id": "70e4763f19d63008",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Get Old State",
        "query": "SELECT current_state FROM device_controls WHERE device_eui = $1 AND control_key = $2",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1610,
        "y": 580,
        "wires": [
            [
                "b3fcb841ba2153ea"
            ]
        ]
    },
    {
        "id": "b3fcb841ba2153ea",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Insert State Change",
        "func": "// Use DB old state if not provided by binary format\nconst dbOldState = msg.payload?.[0]?.current_state || null;\nconst sc = msg.stateChange;\nconst oldState = sc.old_state || dbOldState;\n\nmsg.insertParams = [\n    msg.deviceEui,\n    sc.control_key,\n    oldState,\n    sc.new_state,\n    sc.reason,\n    sc.device_ts || null\n];\n\nmsg.updateParams = [\n    sc.new_state,\n    sc.reason,\n    msg.deviceEui,\n    sc.control_key\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1820,
        "y": 580,
        "wires": [
            [
                "b5c521a6b9aa691e"
            ]
        ]
    },
    {
        "id": "b5c521a6b9aa691e",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Log State Change",
        "query": "INSERT INTO state_changes (device_eui, control_key, old_state, new_state, reason, device_ts)\nVALUES ($1, $2, $3, $4, $5, $6)",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2040,
        "y": 580,
        "wires": [
            [
                "1b0fa593fb91b2bb"
            ]
        ]
    },
    {
        "id": "1b0fa593fb91b2bb",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Update Control",
        "query": "UPDATE device_controls SET current_state = $1, last_change_at = NOW(), last_change_by = $2\nWHERE device_eui = $3 AND control_key = $4",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2260,
        "y": 580,
        "wires": [
            [
                "f4249380616008ba"
            ]
        ]
    },
    {
        "id": "f4249380616008ba",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Push to UI",
        "func": "const sc = msg.stateChange;\nreturn {\n    topic: 'stateChange',\n    payload: {\n        eui: msg.deviceEui,\n        control: sc.control_key,\n        state: sc.new_state,\n        reason: sc.reason\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "d3da543618bdb360",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Command ACK Handler (fPort 4)",
        "func": "// Process command acknowledgment from device\nconst deviceEui = msg.deviceEui;\nconst data = msg.data || {};\n\nconst cmdId = data.cmd_id || data.id;\nconst status = data.status || data.result || 'acked';\n\n// Generic ACK without command ID\nif (!cmdId) {\n    node.status({\n        fill: 'yellow',\n        shape: 'dot',\n        text: `ACK: ${deviceEui.slice(-4)}`\n    });\n    return null;\n}\n\nmsg.ackParams = [\n    status,\n    cmdId,\n    deviceEui\n];\n\nnode.status({\n    fill: 'green',\n    shape: 'dot',\n    text: `ACK: ${cmdId}`\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 660,
        "wires": [
            [
                "f85a19c454be9423"
            ]
        ]
    },
    {
        "id": "f85a19c454be9423",
        "type": "postgresql",
        "z": "7e7308018823ce78",
        "name": "Update Command Status",
        "query": "UPDATE commands SET status = $1, acked_at = NOW() WHERE id = $2 AND device_eui = $3",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "acf8fced0ec59e45"
            ]
        ]
    },
    {
        "id": "acf8fced0ec59e45",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Push to UI",
        "func": "return {\n    topic: 'commandAck',\n    payload: {\n        eui: msg.deviceEui,\n        commandId: msg.ackParams[1],\n        status: msg.ackParams[0]\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "prep_last_seen_params",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "Prep Last Seen",
        "func": "msg.params = [msg.deviceEui];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 520,
        "wires": [
            [
                "d8e9934b853d9ac8"
            ]
        ]
    },
    {
        "id": "810308c6f9d1630a",
        "type": "debug",
        "z": "7e7308018823ce78",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 360,
        "wires": []
    },
    {
        "id": "613db87855a6ed79",
        "type": "link out",
        "z": "7e7308018823ce78",
        "name": "To Handlers",
        "mode": "link",
        "links": [
            "cd6e5f46f99415f5"
        ],
        "x": 3475,
        "y": 280,
        "wires": []
    },
    {
        "id": "c6b3476bff3ec6b0",
        "type": "link out",
        "z": "7e7308018823ce78",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "cd6e5f46f99415f5"
        ],
        "x": 1705,
        "y": 400,
        "wires": []
    },
    {
        "id": "b8c9d0e1f2a3b4c5",
        "type": "function",
        "z": "7e7308018823ce78",
        "name": "OTA Progress Handler (fPort 8)",
        "func": "const deviceEuiRaw = msg.deviceEui;\nconst deviceEui = typeof deviceEuiRaw === 'string' ? deviceEuiRaw.toLowerCase().replace(/[^a-f0-9]/g, '') : '';\nif (!deviceEui) return [ null, null, null ];\nconst data = msg.data || {};\nconst status = data.status;\nconst chunkIndex = typeof data.chunkIndex === 'number' ? data.chunkIndex : (data.chunkIndex != null ? parseInt(data.chunkIndex, 10) : -1);\n\nconst jobs = global.get('otaJobByEui') || {};\nconst job = jobs[deviceEui];\nif (!job) { node.warn('OTA Progress: no job for device ' + deviceEui + ' (status=' + status + ' chunkIndex=' + chunkIndex + ')'); return [ null, null, null ]; }\nif (job.status !== 'sending') {\n  if (status === 2 || status === 3 || status === 4) {\n    const progressMsg = { topic: 'otaProgress', payload: { eui: deviceEui, status: status === 2 ? 'done' : status === 3 ? 'failed' : 'cancelled', error: status === 3 ? 'device_reported_fail' : undefined } };\n    return [ null, progressMsg, null ];\n  }\n  return [ null, null, null ];\n}\n\njob.lastProgressAt = Date.now();\nif (status === 0) {\n  job.nextChunkIndex = 0;\n  const progressMsg = { topic: 'otaProgress', payload: { eui: deviceEui, status: 'sending', chunkIndex: 0, totalChunks: job.totalChunks, percent: 0 } };\n  let downlinkMsg = null;\n  if (job.chunks && job.chunks[0]) {\n    const appId = global.get('chirpstackAppId') || '885c4dd2-e474-4265-bd25-2f838571f8de';\n    downlinkMsg = { topic: `application/${appId}/device/${deviceEui}/command/down`, payload: { devEui: deviceEui, confirmed: false, fPort: 41, data: job.chunks[0] } };\n  }\n  global.set('otaJobByEui', jobs);\n  return [ downlinkMsg, progressMsg, null ];\n}\nconst appId = global.get('chirpstackAppId') || '885c4dd2-e474-4265-bd25-2f838571f8de';\nlet downlinkMsg = null;\nlet progressMsg = null;\nlet dbMsg = null;\n\nif (status === 1) {\n  job.nextChunkIndex = chunkIndex + 1;\n  const pct = job.totalChunks > 0 ? Math.round((job.nextChunkIndex / job.totalChunks) * 100) : 0;\n  progressMsg = { topic: 'otaProgress', payload: { eui: deviceEui, status: 'sending', chunkIndex: job.nextChunkIndex - 1, totalChunks: job.totalChunks, percent: pct } };\n  if (job.nextChunkIndex < job.totalChunks && job.chunks && job.chunks[job.nextChunkIndex]) {\n    const chunkPayload = job.chunks[job.nextChunkIndex];\n    downlinkMsg = { topic: `application/${appId}/device/${deviceEui}/command/down`, payload: { devEui: deviceEui, confirmed: false, fPort: 41, data: chunkPayload } };\n  } else if (job.nextChunkIndex >= job.totalChunks) {\n    job.status = 'done';\n    progressMsg.payload.status = 'done';\n    progressMsg.payload.percent = 100;\n  }\n} else if (status === 2) {\n  job.status = 'done';\n  progressMsg = { topic: 'otaProgress', payload: { eui: deviceEui, status: 'done', chunkIndex: job.nextChunkIndex - 1, totalChunks: job.totalChunks, percent: 100 } };\n} else if (status === 3) {\n  job.status = 'failed';\n  job.errorMessage = 'device_reported_fail';\n  progressMsg = { topic: 'otaProgress', payload: { eui: deviceEui, status: 'failed', error: 'device_reported_fail' } };\n} else if (status === 4) {\n  job.status = 'cancelled';\n  job.errorMessage = 'cancelled_by_user';\n  progressMsg = { topic: 'otaProgress', payload: { eui: deviceEui, status: 'cancelled', error: 'cancelled_by_user' } };\n}\n\nif (job.status !== 'sending' && job.historyId) {\n  const outcome = job.status === 'done' ? 'done' : job.status === 'failed' ? 'failed' : 'cancelled';\n  dbMsg = { params: [ job.historyId, outcome, job.nextChunkIndex || 0, job.errorMessage || null ], query: 'UPDATE firmware_history SET finished_at = NOW(), outcome = $2, chunks_received = $3, error_message = $4 WHERE id = $1' };\n}\n\nglobal.set('otaJobByEui', jobs);\nreturn [ downlinkMsg, progressMsg, dbMsg ];\n",
        "outputs": 3,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 380,
        "wires": [
            [
                "5003f0e851b51bcd"
            ],
            [
                "af722907a66ff83c"
            ],
            [
                "0ed37bca6f2c6695"
            ]
        ]
    },
    {
        "id": "5003f0e851b51bcd",
        "type": "mqtt out",
        "z": "7e7308018823ce78",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "af722907a66ff83c",
        "type": "link out",
        "z": "7e7308018823ce78",
        "name": "link out 2",
        "mode": "link",
        "links": [
            "cd6e5f46f99415f5"
        ],
        "x": 1045,
        "y": 380,
        "wires": []
    },
    {
        "id": "0ed37bca6f2c6695",
        "type": "link call",
        "z": "7e7308018823ce78",
        "name": "",
        "links": [
            "24c8dea9a817364d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1170,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "cd6e5f46f99415f5",
        "type": "link in",
        "z": "155f01355999b8a5",
        "name": "From Handlers",
        "links": [
            "613db87855a6ed79",
            "c6b3476bff3ec6b0",
            "af722907a66ff83c"
        ],
        "x": 45,
        "y": 540,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "0304e7c0066d4c8e",
        "type": "switch",
        "z": "155f01355999b8a5",
        "name": "Route by Topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "getDevices",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "selectDevice",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getHistory",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "setControl",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clearOverride",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getRules",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "saveRule",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deleteRule",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "saveTrigger",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getEdgeRules",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "saveEdgeRule",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "deleteEdgeRule",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "toggleEdgeRule",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "sendCommand",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getCommandHistory",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getStateHistory",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "otaStart",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "otaCancel",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getFirmwareHistory",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "getFirmwareErrorLog",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 20,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "bde01bd59146141c"
            ],
            [
                "4ff0e79eceed3c53"
            ],
            [
                "0b4fd49c41913671"
            ],
            [
                "b45294202d37855c"
            ],
            [
                "d29a92381ad87b38"
            ],
            [
                "c438376ca9a39cc0"
            ],
            [
                "1edd84a128ef4c79"
            ],
            [
                "5c7a2106be7aa3b2"
            ],
            [
                "7277c0d8cf0390da"
            ],
            [
                "edgerules_get_prep"
            ],
            [
                "edgerules_save_prep"
            ],
            [
                "edgerules_delete_prep"
            ],
            [
                "edgerules_toggle_prep"
            ],
            [
                "syscmd_build_downlink"
            ],
            [
                "a1b2c3d4e5f60111"
            ],
            [
                "a1b2c3d4e5f60211"
            ],
            [
                "e9f0a1b2c3d4e5f6"
            ],
            [
                "f0a1b2c3d4e5f6a7"
            ],
            [
                "a1b2c3d4e5f6a7b8"
            ],
            [
                "b2c3d4e5f6a7b8c9"
            ]
        ]
    },
    {
        "id": "bde01bd59146141c",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Get Devices",
        "query": "SELECT device_eui as eui, device_name as name, device_type as type, last_seen as \"lastSeen\" FROM devices WHERE is_active = true ORDER BY last_seen DESC",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 950,
        "y": 80,
        "wires": [
            [
                "d8435395b6339292"
            ]
        ]
    },
    {
        "id": "d8435395b6339292",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format Devices",
        "func": "const devices = Array.isArray(msg.payload) ? msg.payload : [];\nreturn {\n    topic: 'devices',\n    payload: devices\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 80,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "4ff0e79eceed3c53",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Prepare Query",
        "func": "// Device context for device-scoped flows (DATA_CONTRACT)\nconst eui = msg.payload?.eui;\nif (!eui) return null;\n\nconst range = msg.payload?.range || '24h';\n\nmsg.context = { eui, range };\nmsg.params = [eui];\n\nflow.set('selectedDevice', eui);\nflow.set('selectedRange', range);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 140,
        "wires": [
            [
                "078bcacc401c0bc4"
            ]
        ]
    },
    {
        "id": "078bcacc401c0bc4",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Get Fields + Viz",
        "query": "SELECT \n    f.field_key as key,\n    f.display_name as name,\n    f.data_type as type,\n    f.unit,\n    f.category,\n    f.min_value as min,\n    f.max_value as max,\n    f.enum_values,\n    v.viz_type,\n    v.gauge_style,\n    v.chart_color,\n    v.thresholds,\n    COALESCE(v.is_visible, true) as is_visible,\n    v.sort_order\nFROM device_fields f\nLEFT JOIN viz_config v ON f.device_eui = v.device_eui AND f.field_key = v.field_key\nWHERE f.device_eui = $1\n\nUNION\n\nSELECT \n    c.control_key as key,\n    COALESCE(f.display_name, c.control_key) as name,\n    'enum' as type,\n    null as unit,\n    'state' as category,\n    null as min,\n    null as max,\n    f.enum_values,\n    'toggle' as viz_type,\n    null as gauge_style,\n    null as chart_color,\n    null as thresholds,\n    true as is_visible,\n    100 as sort_order\nFROM device_controls c\nLEFT JOIN device_fields f ON c.device_eui = f.device_eui AND c.control_key = f.field_key\nWHERE c.device_eui = $1\n  AND NOT EXISTS (\n      SELECT 1 FROM device_fields f2 \n      WHERE f2.device_eui = c.device_eui AND f2.field_key = c.control_key\n  )\nORDER BY sort_order, key",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1180,
        "y": 140,
        "wires": [
            [
                "8c9faa552f923554"
            ]
        ]
    },
    {
        "id": "8c9faa552f923554",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Store Fields",
        "func": "msg.fields = msg.payload;\nmsg.params = [msg.params[0]];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 140,
        "wires": [
            [
                "162308512dd0bd46"
            ]
        ]
    },
    {
        "id": "162308512dd0bd46",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Get Controls",
        "query": "SELECT \n    c.control_key as key, \n    c.current_state as state, \n    c.mode, \n    c.manual_until, \n    c.last_change_at, \n    c.last_change_by,\n    f.enum_values\nFROM device_controls c\nLEFT JOIN device_fields f ON c.device_eui = f.device_eui AND c.control_key = f.field_key\nWHERE c.device_eui = $1",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1570,
        "y": 140,
        "wires": [
            [
                "53ee42a3c5066025"
            ]
        ]
    },
    {
        "id": "53ee42a3c5066025",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Store Controls",
        "func": "msg.controls = msg.payload;\nmsg.params = [msg.params[0]];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 140,
        "wires": [
            [
                "b94664a065cef058"
            ]
        ]
    },
    {
        "id": "b94664a065cef058",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Get Triggers",
        "query": "SELECT trigger_key as key, display_name as name, field_key as field, operator as op, threshold as th, action_control as ctrl, action_state as st, enabled\nFROM device_triggers WHERE device_eui = $1",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1930,
        "y": 140,
        "wires": [
            [
                "adfb20a2d365eda8"
            ]
        ]
    },
    {
        "id": "adfb20a2d365eda8",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Store Triggers",
        "func": "msg.triggers = msg.payload;\nmsg.params = [msg.params[0]];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2100,
        "y": 140,
        "wires": [
            [
                "796c2c1065daecfa"
            ]
        ]
    },
    {
        "id": "796c2c1065daecfa",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Get Latest Telemetry + Schema",
        "query": "SELECT t.data, t.rssi, t.snr, t.ts, d.registration, d.device_type, d.firmware_version FROM devices d LEFT JOIN telemetry t ON d.device_eui = t.device_eui AND t.ts = (SELECT MAX(ts) FROM telemetry WHERE device_eui = $1) WHERE d.device_eui = $1",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 2350,
        "y": 140,
        "wires": [
            [
                "b37958e3a0e0403f"
            ]
        ]
    },
    {
        "id": "b37958e3a0e0403f",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format Config",
        "func": "const row = msg.payload?.[0];\nconst reg = row?.registration || {};\n\n// Transform schema to expected structure\n// Raw registration: fields, sys, states, cmds\n// Frontend expects: fields (combined), controls (from states)\nconst schema = {\n    fields: [\n        ...(reg.fields || []),\n        ...(reg.sys || [])\n    ],\n    controls: reg.states || [],\n    cmds: reg.cmds || []\n};\n\nreturn {\n    topic: 'deviceConfig',\n    payload: {\n        eui: msg.params[0],\n        fields: msg.fields,\n        controls: msg.controls,\n        triggers: msg.triggers,\n        schema: schema,\n        device: {\n            type: row?.device_type || reg.type,\n            fw: row?.firmware_version || reg.fw\n        },\n        current: row?.data\n            ? {\n                data: row.data,\n                rssi: row.rssi,\n                snr: row.snr,\n                ts: row.ts\n            }\n            : null\n    }\n};\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2580,
        "y": 140,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "0b4fd49c41913671",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Build History Query",
        "func": "// Unified history: one field -> (query, params) mapping (DATA_CONTRACT)\nconst rawEui =\n    msg.payload?.eui ??\n    msg.context?.eui ??\n    flow.get('selectedDevice');\n\nconst eui = rawEui\n    ? String(rawEui).toLowerCase().replace(/:/g, '')\n    : '';\n\nconst field = msg.payload?.field;\n\nconst range =\n    msg.payload?.range ??\n    msg.context?.range ??\n    flow.get('selectedRange') ??\n    '24h';\n\nif (!eui || !field) return null;\n\nconst intervals = {\n    '1h': '1 hour',\n    '6h': '6 hours',\n    '24h': '24 hours',\n    '7d': '7 days',\n    '30d': '30 days'\n};\n\nconst interval = intervals[range] || '24 hours';\n\nmsg.field = field;\nmsg.historyEui = eui;\n\nif (field === 'rssi') {\n    msg.query = `\n    SELECT ts, rssi::numeric AS value\n    FROM telemetry\n    WHERE device_eui = $1\n      AND ts > NOW() - $2::interval\n      AND rssi IS NOT NULL\n    ORDER BY ts\n  `;\n    msg.params = [eui, interval];\n\n} else if (field === 'snr') {\n    msg.query = `\n    SELECT ts, snr::numeric AS value\n    FROM telemetry\n    WHERE device_eui = $1\n      AND ts > NOW() - $2::interval\n      AND snr IS NOT NULL\n    ORDER BY ts\n  `;\n    msg.params = [eui, interval];\n\n} else {\n    msg.query = `\n    SELECT ts, (data->>$3)::numeric AS value\n    FROM telemetry\n    WHERE device_eui = $1\n      AND ts > NOW() - $2::interval\n      AND data->>$3 IS NOT NULL\n    ORDER BY ts\n  `;\n    msg.params = [eui, interval, field];\n}\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 200,
        "wires": [
            [
                "f1b1a6a02d5788d2"
            ]
        ]
    },
    {
        "id": "f1b1a6a02d5788d2",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Execute",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1160,
        "y": 200,
        "wires": [
            [
                "e6bfa23516fbad35"
            ]
        ]
    },
    {
        "id": "e6bfa23516fbad35",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format History",
        "func": "// Unified history response shape (DATA_CONTRACT): eui, field, data\nconst eui = msg.historyEui ?? msg.params?.[0];\nconst field = msg.field;\n\nconst rows = Array.isArray(msg.payload)\n    ? msg.payload\n    : msg.payload != null\n        ? [msg.payload]\n        : [];\n\nreturn {\n    topic: 'history',\n    payload: {\n        eui: eui,\n        field: field,\n        data: rows.map(r => ({\n            ts: r.ts,\n            value: r.value\n        }))\n    }\n};\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 200,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "b45294202d37855c",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Set Manual Control",
        "func": "const { eui, control, state, duration } = msg.payload;\n\nif (!eui || !control || !state) return null;\n\n// Calculate manual_until if duration specified\nlet manualUntil = null;\nif (duration) {\n    manualUntil = new Date(Date.now() + duration * 60 * 1000);\n}\n\nmsg.params = [state, 'manual', manualUntil, 'user', eui, control];\nmsg.controlInfo = { eui, control, state };\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 260,
        "wires": [
            [
                "8139f62a3d08df52"
            ]
        ]
    },
    {
        "id": "8139f62a3d08df52",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Update Control",
        "query": "UPDATE device_controls SET current_state = $1, mode = $2, manual_until = $3, last_change_by = $4, last_change_at = NOW()\nWHERE device_eui = $5 AND control_key = $6\nRETURNING *",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1180,
        "y": 260,
        "wires": [
            [
                "45516147972cfd5d"
            ]
        ]
    },
    {
        "id": "45516147972cfd5d",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Build & Send Downlink",
        "func": "const { eui, control, state } = msg.controlInfo;\n\n// Get command port from device registration\n// For now, use defaults\nconst commandPorts = {\n  pump: 20,\n  valve: 21\n};\n\nconst port = commandPorts[control] || 20;\nconst stateValue =\n  state === 'on' || state === 'open'\n    ? 0x01\n    : 0x00;\n\n// Params for PostgreSQL logging\nmsg.params = [\n  eui,\n  `set_${control}`,\n  JSON.stringify({ state }),\n  'user',\n  'sent'\n];\n\n// Build ChirpStack downlink (MQTT)\nconst appId =\n  global.get('chirpstackAppId') ||\n  '885c4dd2-e474-4265-bd25-2f838571f8de';\n\nmsg.topic = `application/${appId}/device/${eui}/command/down`;\n\nmsg.payload = {\n  devEui: eui,\n  confirmed: false,\n  fPort: port,\n  data: Buffer.from([stateValue]).toString('base64')\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 260,
        "wires": [
            [
                "b982e4431d33b7d8",
                "cbee7274b6c83abe",
                "5e49c5b7130d0a3e"
            ]
        ]
    },
    {
        "id": "b982e4431d33b7d8",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Log Command",
        "query": "INSERT INTO commands (device_eui, command_key, payload, initiated_by, status, sent_at)\nVALUES ($1, $2, $3::jsonb, $4, $5, NOW())",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1660,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cbee7274b6c83abe",
        "type": "mqtt out",
        "z": "155f01355999b8a5",
        "name": "Send Downlink",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 1660,
        "y": 260,
        "wires": []
    },
    {
        "id": "5e49c5b7130d0a3e",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Notify UI",
        "func": "const { eui, control, state } = msg.controlInfo;\nreturn {\n    topic: 'stateChange',\n    payload: {\n        eui,\n        control,\n        state,\n        reason: 'user'\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1640,
        "y": 320,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "d29a92381ad87b38",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Clear Override",
        "func": "const { eui, control } = msg.payload;\n\nif (!eui || !control) return null;\n\nmsg.params = ['auto', eui, control];\nmsg.controlInfo = { eui, control };\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 320,
        "wires": [
            [
                "2d6fa7ccc2178bad"
            ]
        ]
    },
    {
        "id": "2d6fa7ccc2178bad",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Set Auto Mode",
        "query": "UPDATE device_controls SET mode = $1, manual_until = NULL WHERE device_eui = $2 AND control_key = $3 RETURNING *",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1180,
        "y": 320,
        "wires": [
            [
                "87591b6fd60bf59a"
            ]
        ]
    },
    {
        "id": "87591b6fd60bf59a",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Notify UI",
        "func": "const ctrl = msg.payload?.[0];\nif (!ctrl) return null;\n\nreturn {\n    topic: 'controlUpdate',\n    payload: {\n        eui: msg.controlInfo.eui,\n        control: ctrl.control_key,\n        state: ctrl.current_state,\n        mode: ctrl.mode\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 320,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "22487547345322c9",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "On Client Connect",
        "func": "if (msg.uibuilderCtrl === 'client connect') {\n    return { topic: 'getDevices' };\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 80,
        "wires": [
            [
                "bde01bd59146141c"
            ]
        ]
    },
    {
        "id": "a6e3644596854fbf",
        "type": "inject",
        "z": "155f01355999b8a5",
        "name": "Every 60s",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "topic": "",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "830f22e4b83363c1"
            ]
        ]
    },
    {
        "id": "830f22e4b83363c1",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Expire Manual Overrides",
        "query": "UPDATE device_controls\nSET mode = 'auto', manual_until = NULL\nWHERE mode = 'manual' AND manual_until < NOW()\nRETURNING device_eui, control_key, current_state",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "10c9ed4964ab8883"
            ]
        ]
    },
    {
        "id": "10c9ed4964ab8883",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Notify UI",
        "func": "const expired = msg.payload || [];\nif (expired.length === 0) return null;\n\n// Send control update for each expired override\nconst msgs = expired.map(c => ({\n    topic: 'controlUpdate',\n    payload: {\n        eui: c.device_eui,\n        control: c.control_key,\n        state: c.current_state,\n        mode: 'auto'\n    }\n}));\n\nreturn [msgs];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 180,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "c438376ca9a39cc0",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Prepare Rules Query",
        "func": "const eui = msg.payload?.eui;\nif (!eui) return null;\nmsg.params = [eui];\nmsg.deviceEui = eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 380,
        "wires": [
            [
                "a1cd954cfdd5b117"
            ]
        ]
    },
    {
        "id": "a1cd954cfdd5b117",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Get All Rules",
        "query": "SELECT id, name, description, condition, action_control, action_state, priority, cooldown_seconds, enabled, last_triggered, created_at\nFROM user_rules WHERE device_eui = $1 ORDER BY priority, created_at",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1170,
        "y": 380,
        "wires": [
            [
                "1ee74b98363e1b51"
            ]
        ]
    },
    {
        "id": "1ee74b98363e1b51",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format Rules",
        "func": "return {\n    topic: 'rules',\n    payload: {\n        eui: msg.deviceEui,\n        rules: msg.payload || []\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 380,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "1edd84a128ef4c79",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Build Rule Upsert",
        "func": "const rule = msg.payload;\nif (!rule || !rule.eui) return null;\n\n// If rule has id, it's an update\nif (rule.id) {\n    msg.query = `UPDATE user_rules SET\n        name = $2, description = $3, condition = $4::jsonb,\n        action_control = $5, action_state = $6, priority = $7,\n        cooldown_seconds = $8, enabled = $9\n    WHERE id = $1 AND device_eui = $10\n    RETURNING *`;\n    msg.params = [\n        rule.id, rule.name, rule.description || null,\n        JSON.stringify(rule.condition), rule.action_control, rule.action_state,\n        rule.priority || 100, rule.cooldown_seconds || 300, rule.enabled ?? true,\n        rule.eui\n    ];\n} else {\n    msg.query = `INSERT INTO user_rules\n        (device_eui, name, description, condition, action_control, action_state, priority, cooldown_seconds, enabled)\n    VALUES ($1, $2, $3, $4::jsonb, $5, $6, $7, $8, $9)\n    RETURNING *`;\n    msg.params = [\n        rule.eui, rule.name, rule.description || null,\n        JSON.stringify(rule.condition), rule.action_control, rule.action_state,\n        rule.priority || 100, rule.cooldown_seconds || 300, rule.enabled ?? true\n    ];\n}\n\nmsg.deviceEui = rule.eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 440,
        "wires": [
            [
                "759fc956d187cf80"
            ]
        ]
    },
    {
        "id": "759fc956d187cf80",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Execute",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1160,
        "y": 440,
        "wires": [
            [
                "7a3175b02658122c"
            ]
        ]
    },
    {
        "id": "7a3175b02658122c",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Notify Rule Saved",
        "func": "const saved = msg.payload?.[0];\nreturn {\n    topic: 'ruleSaved',\n    payload: {\n        eui: msg.deviceEui,\n        rule: saved\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 440,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "5c7a2106be7aa3b2",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Prepare Delete",
        "func": "const { eui, ruleId } = msg.payload || {};\nif (!eui || !ruleId) return null;\nmsg.params = [ruleId, eui];\nmsg.deviceEui = eui;\nmsg.ruleId = ruleId;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 500,
        "wires": [
            [
                "308dba55bd398d5a"
            ]
        ]
    },
    {
        "id": "308dba55bd398d5a",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Delete Rule",
        "query": "DELETE FROM user_rules WHERE id = $1 AND device_eui = $2",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "48e117f27e2357a3"
            ]
        ]
    },
    {
        "id": "48e117f27e2357a3",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Notify Rule Deleted",
        "func": "return {\n    topic: 'ruleDeleted',\n    payload: {\n        eui: msg.deviceEui,\n        ruleId: msg.ruleId\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 500,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "7277c0d8cf0390da",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Update Trigger",
        "func": "const { eui, triggerKey, enabled } = msg.payload || {};\nif (!eui || !triggerKey || enabled === undefined) return null;\nmsg.params = [enabled, eui, triggerKey];\nmsg.deviceEui = eui;\nmsg.triggerKey = triggerKey;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 560,
        "wires": [
            [
                "92436a7806185496"
            ]
        ]
    },
    {
        "id": "92436a7806185496",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Update Trigger",
        "query": "UPDATE device_triggers SET enabled = $1 WHERE device_eui = $2 AND trigger_key = $3 RETURNING *",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1180,
        "y": 560,
        "wires": [
            [
                "63996c57e0835aba"
            ]
        ]
    },
    {
        "id": "63996c57e0835aba",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Notify Trigger Saved",
        "func": "const saved = msg.payload?.[0];\nreturn {\n    topic: 'triggerSaved',\n    payload: {\n        eui: msg.deviceEui,\n        trigger: saved\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 560,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "edgerules_get_prep",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Prep Get Edge Rules",
        "func": "const eui = msg.payload?.eui;\nif (!eui) return null;\nmsg.params = [eui];\nmsg.deviceEui = eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 620,
        "wires": [
            [
                "edgerules_get_query"
            ]
        ]
    },
    {
        "id": "edgerules_get_query",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Query Edge Rules",
        "query": "SELECT rule_id, field_idx, operator, threshold, control_idx, action_state, priority, cooldown_seconds, enabled FROM edge_rules WHERE device_eui = $1 ORDER BY priority, rule_id",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1190,
        "y": 620,
        "wires": [
            [
                "edgerules_get_format"
            ]
        ]
    },
    {
        "id": "edgerules_get_format",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format Edge Rules",
        "func": "return {\n    topic: 'edgeRules',\n    payload: {\n        eui: msg.deviceEui,\n        rules: msg.payload || []\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "edgerules_save_prep",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Prep Save Edge Rule",
        "func": "const p = msg.payload;\nif (!p?.eui) return null;\n\n// Generate new rule_id if not provided\nlet ruleId = p.rule_id;\nif (ruleId === null || ruleId === undefined) {\n    ruleId = Math.floor(Math.random() * 255);\n}\n\nmsg.params = [\n    p.eui,\n    ruleId,\n    p.field_idx,\n    p.operator,\n    p.threshold,\n    p.control_idx,\n    p.action_state,\n    p.priority ?? 128,\n    p.cooldown_seconds ?? 300,\n    p.enabled ?? true\n];\nmsg.deviceEui = p.eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 680,
        "wires": [
            [
                "edgerules_save_query"
            ]
        ]
    },
    {
        "id": "edgerules_save_query",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Upsert Edge Rule",
        "query": "INSERT INTO edge_rules (device_eui, rule_id, field_idx, operator, threshold, control_idx, action_state, priority, cooldown_seconds, enabled, synced_at)\nVALUES ($1, $2, $3, $4, $5, $6, $7, $8, $9, $10, NOW())\nON CONFLICT (device_eui, rule_id) DO UPDATE SET\n    field_idx = EXCLUDED.field_idx,\n    operator = EXCLUDED.operator,\n    threshold = EXCLUDED.threshold,\n    control_idx = EXCLUDED.control_idx,\n    action_state = EXCLUDED.action_state,\n    priority = EXCLUDED.priority,\n    cooldown_seconds = EXCLUDED.cooldown_seconds,\n    enabled = EXCLUDED.enabled,\n    synced_at = NOW()\nRETURNING rule_id, field_idx, operator, threshold, control_idx, action_state, priority, cooldown_seconds, enabled",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1190,
        "y": 680,
        "wires": [
            [
                "edgerules_save_format"
            ]
        ]
    },
    {
        "id": "edgerules_save_format",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format Saved Edge Rule",
        "func": "const saved = msg.payload?.[0];\nreturn {\n    topic: 'edgeRuleSaved',\n    payload: {\n        eui: msg.deviceEui,\n        rule: saved\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1430,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "edgerules_delete_prep",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Prep Delete Edge Rule",
        "func": "const p = msg.payload;\nif (!p?.eui || p.ruleId === null || p.ruleId === undefined) return null;\nmsg.params = [p.eui, p.ruleId];\nmsg.deviceEui = p.eui;\nmsg.ruleId = p.ruleId;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 740,
        "wires": [
            [
                "edgerules_delete_query"
            ]
        ]
    },
    {
        "id": "edgerules_delete_query",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Delete Edge Rule",
        "query": "DELETE FROM edge_rules WHERE device_eui = $1 AND rule_id = $2",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1190,
        "y": 740,
        "wires": [
            [
                "edgerules_delete_format"
            ]
        ]
    },
    {
        "id": "edgerules_delete_format",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format Deleted Edge Rule",
        "func": "return {\n    topic: 'edgeRuleDeleted',\n    payload: {\n        eui: msg.deviceEui,\n        ruleId: msg.ruleId\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "edgerules_toggle_prep",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Prep Toggle Edge Rule",
        "func": "const p = msg.payload;\nif (!p?.eui || p.ruleId === null || p.ruleId === undefined) return null;\nmsg.params = [p.enabled, p.eui, p.ruleId];\nmsg.deviceEui = p.eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 800,
        "wires": [
            [
                "edgerules_toggle_query"
            ]
        ]
    },
    {
        "id": "edgerules_toggle_query",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Toggle Edge Rule",
        "query": "UPDATE edge_rules SET enabled = $1, synced_at = NOW() WHERE device_eui = $2 AND rule_id = $3 RETURNING rule_id, field_idx, operator, threshold, control_idx, action_state, priority, cooldown_seconds, enabled",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1210,
        "y": 800,
        "wires": [
            [
                "edgerules_toggle_format"
            ]
        ]
    },
    {
        "id": "edgerules_toggle_format",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format Toggled Edge Rule",
        "func": "const saved = msg.payload?.[0];\nreturn {\n    topic: 'edgeRuleSaved',\n    payload: {\n        eui: msg.deviceEui,\n        rule: saved\n    }\n};",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1440,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "syscmd_build_downlink",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Build System Command Downlink",
        "func": "const { eui, fPort, command, value } = msg.payload;\n\nif (!eui || !fPort) {\n  node.warn('Missing eui or fPort for system command');\n  return null;\n}\n\n// Build data payload based on command\nlet dataBytes = [];\n\nif (command === 'setInterval' && value != null) {\n  // Firmware fPort 11:\n  // 4-byte big-endian interval in milliseconds (10s3600s)\n  const intervalSec = parseInt(value, 10) || 60;\n  const intervalMs = Math.min(\n    3600000,\n    Math.max(10000, intervalSec * 1000)\n  );\n\n  dataBytes = [\n    (intervalMs >>> 24) & 0xff,\n    (intervalMs >>> 16) & 0xff,\n    (intervalMs >>> 8) & 0xff,\n    intervalMs & 0xff\n  ];\n} else {\n  // Generic single-byte command / ACK\n  dataBytes = [0x01];\n}\n\n// Params for PostgreSQL logging\nmsg.params = [\n  eui,\n  command,\n  JSON.stringify({ fPort, value }),\n  'user',\n  'sent'\n];\n\n// Build ChirpStack downlink\nconst appId =\n  global.get('chirpstackAppId') ||\n  '885c4dd2-e474-4265-bd25-2f838571f8de';\n\nmsg.topic = `application/${appId}/device/${eui}/command/down`;\n\nmsg.payload = {\n  devEui: eui,\n  confirmed: false,\n  fPort: fPort,\n  data: Buffer.from(dataBytes).toString('base64')\n};\n\nnode.status({\n  fill: 'blue',\n  shape: 'dot',\n  text: `${command} -> ${eui.slice(-4)}`\n});\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 860,
        "wires": [
            [
                "syscmd_log_command",
                "acf85a4f324e8b6a"
            ]
        ]
    },
    {
        "id": "syscmd_log_command",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Log Command",
        "query": "INSERT INTO commands (device_eui, command_key, payload, initiated_by, status, sent_at) VALUES ($1, $2, $3::jsonb, $4, $5, NOW())",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1300,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "acf85a4f324e8b6a",
        "type": "mqtt out",
        "z": "155f01355999b8a5",
        "name": "Send Downlink",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 1500,
        "y": 860,
        "wires": []
    },
    {
        "id": "7a756a0bc95ae6be",
        "type": "uibuilder",
        "z": "155f01355999b8a5",
        "name": "Dashboard",
        "topic": "",
        "url": "dash",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "ext-iife-vue3-nobuild",
        "extTemplate": "TotallyInformation/uib-template-iife-vue3-nobuild",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "7.5.0",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://vscode-remote/ssh-remote+farm/data/uibuilder/dash/?windowId=_blank",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "f9e8d7c6b5a43210"
            ],
            [
                "22487547345322c9"
            ]
        ]
    },
    {
        "id": "f1a0b1c2d3e401",
        "type": "mqtt in",
        "z": "155f01355999b8a5",
        "name": "Gateway state/conn",
        "topic": "+/gateway/+/state/conn",
        "qos": "0",
        "datatype": "json",
        "broker": "e1b2c3d4e5f6a7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 720,
        "wires": [
            [
                "f1a0b1c2d3e402"
            ]
        ]
    },
    {
        "id": "f1a0b1c2d3e402",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Gateway status to UI",
        "func": "// {band}/gateway/{id}/state/conn (band = us915 | eu868 | ...)\n// -> { gatewayId, state: ONLINE | OFFLINE }\n\nconst raw = msg.payload;\n\nconst pl =\n  typeof raw === 'string'\n    ? (() => {\n      try {\n        return JSON.parse(raw);\n      } catch (e) {\n        return {};\n      }\n    })()\n    : raw || {};\n\nconst gatewayId =\n  pl.gatewayId ||\n  pl.gateway_id ||\n  msg.topic?.split('/')[2] ||\n  'unknown';\n\nconst state = (pl.state || '').toUpperCase();\n\nif (state === 'OFFLINE') {\n  node.warn(`Gateway offline: ${gatewayId}`);\n  node.status({\n    fill: 'red',\n    shape: 'dot',\n    text: 'Gateway offline'\n  });\n} else if (state === 'ONLINE') {\n  node.status({\n    fill: 'green',\n    shape: 'dot',\n    text: 'Gateway online'\n  });\n}\n\nreturn {\n  topic: 'gatewayStatus',\n  payload: {\n    gatewayId,\n    state: state || 'UNKNOWN'\n  }\n};\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 720,
        "wires": [
            [
                "7a756a0bc95ae6be",
                "f83743a9bf4e82a5"
            ]
        ]
    },
    {
        "id": "f83743a9bf4e82a5",
        "type": "debug",
        "z": "155f01355999b8a5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 800,
        "wires": []
    },
    {
        "id": "f9e8d7c6b5a43210",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Normalize client message",
        "func": "// UIBuilder may wrap client msg in payload: { topic, payload }. Ensure msg.topic and msg.payload for Route by Topic.\nif (msg.payload && typeof msg.payload === 'object' && msg.payload.topic && !msg.topic) {\n    msg.topic = msg.payload.topic;\n    msg.payload = msg.payload.payload !== undefined ? msg.payload.payload : msg.payload;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 540,
        "wires": [
            [
                "0304e7c0066d4c8e"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60111",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Build Command History Query",
        "func": "const rawEui = msg.payload?.eui ?? msg.context?.eui ?? flow.get('selectedDevice');\nconst eui = rawEui ? String(rawEui).toLowerCase().replace(/:/g, '') : '';\nconst range = msg.payload?.range ?? msg.context?.range ?? flow.get('selectedRange') ?? '24h';\nif (!eui) return null;\n\nconst intervals = { '1h': '1 hour', '6h': '6 hours', '24h': '24 hours', '7d': '7 days', '30d': '30 days' };\nconst interval = intervals[range] || '24 hours';\n\nlet query, params;\nif (range === 'custom' && msg.payload?.from && msg.payload?.to) {\n    query = 'SELECT id, device_eui, command_key, payload, initiated_by, status, sent_at, acked_at, created_at FROM commands WHERE device_eui = $1 AND created_at >= $2::timestamptz AND created_at <= $3::timestamptz ORDER BY created_at DESC';\n    params = [eui, msg.payload.from, msg.payload.to];\n} else {\n    query = 'SELECT id, device_eui, command_key, payload, initiated_by, status, sent_at, acked_at, created_at FROM commands WHERE device_eui = $1 AND created_at > NOW() - $2::interval ORDER BY created_at DESC';\n    params = [eui, interval];\n}\nmsg.query = query;\nmsg.params = params;\nmsg.commandHistoryEui = eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 940,
        "wires": [
            [
                "a1b2c3d4e5f60112"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60112",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Execute Command History Query",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 0,
        "outputs": 1,
        "x": 1300,
        "y": 940,
        "wires": [
            [
                "a1b2c3d4e5f60113"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60113",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format Command History",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : msg.payload != null ? [msg.payload] : [];\nconst eui = msg.commandHistoryEui ?? msg.params?.[0] ?? rows[0]?.device_eui;\nconst commands = rows.map(r => ({\n    id: r.id,\n    command_key: r.command_key,\n    payload: r.payload,\n    initiated_by: r.initiated_by,\n    status: r.status || 'pending',\n    sent_at: r.sent_at,\n    acked_at: r.acked_at,\n    created_at: r.created_at\n}));\nreturn { topic: 'commandHistory', payload: { eui, commands } };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 940,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60211",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Build State History Query",
        "func": "const rawEui = msg.payload?.eui ?? msg.context?.eui ?? flow.get('selectedDevice');\nconst eui = rawEui ? String(rawEui).toLowerCase().replace(/:/g, '') : '';\nconst range = msg.payload?.range ?? msg.context?.range ?? flow.get('selectedRange') ?? '24h';\nif (!eui) return null;\n\nconst intervals = { '1h': '1 hour', '6h': '6 hours', '24h': '24 hours', '7d': '7 days', '30d': '30 days' };\nconst interval = intervals[range] || '24 hours';\n\nlet query, params;\nif (range === 'custom' && msg.payload?.from && msg.payload?.to) {\n    query = 'SELECT id, device_eui, control_key, old_state, new_state, reason, device_ts, ts FROM state_changes WHERE device_eui = $1 AND ts >= $2::timestamptz AND ts <= $3::timestamptz ORDER BY ts DESC';\n    params = [eui, msg.payload.from, msg.payload.to];\n} else {\n    query = 'SELECT id, device_eui, control_key, old_state, new_state, reason, device_ts, ts FROM state_changes WHERE device_eui = $1 AND ts > NOW() - $2::interval ORDER BY ts DESC';\n    params = [eui, interval];\n}\nmsg.query = query;\nmsg.params = params;\nmsg.stateHistoryEui = eui;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1020,
        "wires": [
            [
                "a1b2c3d4e5f60212"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60212",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Execute State History Query",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 0,
        "outputs": 1,
        "x": 1280,
        "y": 1020,
        "wires": [
            [
                "a1b2c3d4e5f60213"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f60213",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format State History",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : msg.payload != null ? [msg.payload] : [];\nconst eui = msg.stateHistoryEui ?? msg.params?.[0] ?? rows[0]?.device_eui;\nconst stateChanges = rows.map(r => ({\n    id: r.id,\n    control_key: r.control_key,\n    old_state: r.old_state,\n    new_state: r.new_state,\n    reason: r.reason,\n    device_ts: r.device_ts,\n    ts: r.ts\n}));\nreturn { topic: 'stateHistory', payload: { eui, stateChanges } };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1560,
        "y": 1020,
        "wires": [
            [
                "7a756a0bc95ae6be"
            ]
        ]
    },
    {
        "id": "e9f0a1b2c3d4e5f6",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "OTA Start",
        "func": "const eui = msg.payload?.eui;\nconst firmwareB64 = msg.payload?.firmware;\nif (!eui || !firmwareB64) { node.warn('OTA Start: missing eui or firmware'); return null; }\nconst buf = Buffer.from(firmwareB64, 'base64');\nconst totalSize = buf.length;\nconst PAYLOAD_SIZE = 218;\nconst totalChunks = Math.ceil(totalSize / PAYLOAD_SIZE);\nfunction crc16(data) {\n  let crc = 0xFFFF;\n  for (let i = 0; i < data.length; i++) {\n    crc ^= (data[i] << 8);\n    for (let k = 0; k < 8; k++) crc = (crc & 0x8000) ? ((crc << 1) ^ 0x1021) : (crc << 1);\n  }\n  return crc & 0xFFFF;\n}\nconst chunks = [];\nfor (let i = 0; i < totalChunks; i++) {\n  const start = i * PAYLOAD_SIZE;\n  const slice = buf.subarray(start, Math.min(start + PAYLOAD_SIZE, buf.length));\n  const pad = Buffer.alloc(PAYLOAD_SIZE);\n  slice.copy(pad);\n  const crc = crc16(pad);\n  const packet = Buffer.alloc(222);\n  packet.writeUInt16LE(i, 0);\n  pad.copy(packet, 2);\n  packet.writeUInt16LE(crc, 220);\n  chunks.push(packet.toString('base64'));\n}\nconst job = { deviceEui: eui, totalSize, totalChunks, chunks, nextChunkIndex: 0, status: 'sending', startedAt: Date.now(), lastProgressAt: Date.now(), historyId: null };\nglobal.set('otaJobPending', { eui, job });\nmsg.params = [ eui, 'started', totalChunks, 0 ];\nmsg.query = 'INSERT INTO firmware_history (device_eui, outcome, total_chunks, chunks_received) VALUES ($1, $2, $3, $4) RETURNING id';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 1080,
        "wires": [
            [
                "ota-start-insert-id"
            ]
        ]
    },
    {
        "id": "ota-start-insert-id",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "OTA Start Insert",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1140,
        "y": 1080,
        "wires": [
            [
                "ota-start-send-id"
            ]
        ]
    },
    {
        "id": "ota-start-send-id",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "OTA Start Send fPort 40",
        "func": "const pending = global.get('otaJobPending');\nconst job = pending && pending.job;\nconst row = msg.payload && (Array.isArray(msg.payload) ? msg.payload[0] : msg.payload);\nconst historyId = row && (row.id != null ? row.id : row.ID);\nif (job && historyId) job.historyId = historyId;\nconst jobs = global.get('otaJobByEui') || {};\nif (job) { jobs[job.deviceEui] = job; global.set('otaJobByEui', jobs); global.set('otaJobPending', null); }\nconst appId = global.get('chirpstackAppId') || '885c4dd2-e474-4265-bd25-2f838571f8de';\nconst eui = job ? job.deviceEui : (pending && pending.eui);\nif (!eui || !job) return [ null, null ];\nconst topic = `application/${appId}/device/${eui}/command/down`;\nconst sizeBuf = Buffer.alloc(6);\nsizeBuf.writeUInt32LE(job.totalSize, 0);\nsizeBuf.writeUInt16LE(job.totalChunks, 4);\nconst msg40 = { topic, payload: { devEui: eui, confirmed: false, fPort: 40, data: sizeBuf.toString('base64') } };\nconst msgChunk0 = (job.chunks && job.chunks[0]) ? { topic, payload: { devEui: eui, confirmed: false, fPort: 41, data: job.chunks[0] } } : null;\nreturn [ msg40, msgChunk0 ];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 1080,
        "wires": [
            [
                "22afab641ed23d0c",
                "a8ab75d2f20dafe3"
            ],
            [
                "22afab641ed23d0c"
            ]
        ]
    },
    {
        "id": "f0a1b2c3d4e5f6a7",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "OTA Cancel",
        "func": "const eui = msg.payload?.eui;\nif (!eui) { node.warn('OTA Cancel: missing eui'); return null; }\nconst jobs = global.get('otaJobByEui') || {};\nconst job = jobs[eui];\nif (job) { job.status = 'cancelled'; job.errorMessage = 'cancelled_by_user'; jobs[eui] = job; global.set('otaJobByEui', jobs); }\nconst appId = global.get('chirpstackAppId') || '885c4dd2-e474-4265-bd25-2f838571f8de';\nconst downlink = { topic: `application/${appId}/device/${eui}/command/down`, payload: { devEui: eui, confirmed: false, fPort: 42, data: Buffer.from([0]).toString('base64') } };\nconst updateMsg = job && job.historyId ? { params: [ job.historyId, 'cancelled', job.nextChunkIndex || 0, 'cancelled_by_user' ], query: 'UPDATE firmware_history SET finished_at = NOW(), outcome = $2, chunks_received = $3, error_message = $4 WHERE id = $1' } : null;\nreturn [ downlink, updateMsg ];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1160,
        "wires": [
            [
                "fcb26e929aab6684"
            ],
            [
                "c8d9e0f1a2b3c4d5"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f6a7b8",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Get Firmware History",
        "func": "const eui = msg.payload?.eui;\nif (!eui) return null;\nmsg.params = [ eui ];\nmsg.query = 'SELECT device_eui, started_at, finished_at, outcome, firmware_version, total_chunks, chunks_received, error_message FROM firmware_history WHERE device_eui = $1 ORDER BY started_at DESC LIMIT 50';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 1220,
        "wires": [
            [
                "ota-history-query-id"
            ]
        ]
    },
    {
        "id": "ota-history-query-id",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Query firmware_history",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1210,
        "y": 1220,
        "wires": [
            [
                "ota-history-format-id"
            ]
        ]
    },
    {
        "id": "ota-history-format-id",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format firmwareHistory",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : (msg.payload != null ? [msg.payload] : []);\nreturn { topic: 'firmwareHistory', payload: rows };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1450,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "b2c3d4e5f6a7b8c9",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Get Firmware Error Log",
        "func": "const eui = msg.payload?.eui;\nif (eui) {\n  msg.params = [ eui ];\n  msg.query = \"SELECT device_eui, started_at, finished_at, outcome, error_message, error_chunk_index, firmware_version FROM firmware_history WHERE device_eui = $1 AND outcome IN ('failed','cancelled') ORDER BY started_at DESC LIMIT 50\";\n} else {\n  msg.params = [];\n  msg.query = \"SELECT device_eui, started_at, finished_at, outcome, error_message, error_chunk_index, firmware_version FROM firmware_history WHERE outcome IN ('failed','cancelled') ORDER BY started_at DESC LIMIT 50\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1280,
        "wires": [
            [
                "ota-errorlog-query-id"
            ]
        ]
    },
    {
        "id": "ota-errorlog-query-id",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Query firmware errors",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1220,
        "y": 1280,
        "wires": [
            [
                "ota-errorlog-format-id"
            ]
        ]
    },
    {
        "id": "ota-errorlog-format-id",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "Format firmwareErrorLog",
        "func": "const rows = Array.isArray(msg.payload) ? msg.payload : (msg.payload != null ? [msg.payload] : []);\nreturn { topic: 'firmwareErrorLog', payload: rows };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1470,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "fcb26e929aab6684",
        "type": "mqtt out",
        "z": "155f01355999b8a5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 1170,
        "y": 1140,
        "wires": []
    },
    {
        "id": "c8d9e0f1a2b3c4d5",
        "type": "postgresql",
        "z": "155f01355999b8a5",
        "name": "Update firmware_history",
        "query": "",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1210,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "ota-timeout-inject-id",
        "type": "inject",
        "z": "155f01355999b8a5",
        "name": "OTA timeout 30s",
        "props": [],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 140,
        "y": 980,
        "wires": [
            [
                "ota-timeout-check-id"
            ]
        ]
    },
    {
        "id": "ota-timeout-check-id",
        "type": "function",
        "z": "155f01355999b8a5",
        "name": "OTA resend on timeout",
        "func": "const jobs = global.get('otaJobByEui') || {};\nconst appId = global.get('chirpstackAppId') || '885c4dd2-e474-4265-bd25-2f838571f8de';\nconst now = Date.now();\nconst TIMEOUT_MS = 60000;\nconst out = [];\nfor (const eui of Object.keys(jobs)) {\n  const job = jobs[eui];\n  if (job.status !== 'sending' || !job.chunks || job.nextChunkIndex <= 0) continue;\n  if (now - job.lastProgressAt < TIMEOUT_MS) continue;\n  const idx = job.nextChunkIndex - 1;\n  if (!job.chunks[idx]) continue;\n  out.push({ topic: `application/${appId}/device/${eui}/command/down`, payload: { devEui: eui, confirmed: false, fPort: 41, data: job.chunks[idx] } });\n}\nreturn out.length ? out : null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 980,
        "wires": [
            [
                "f665b7580c36e43e"
            ]
        ]
    },
    {
        "id": "f665b7580c36e43e",
        "type": "mqtt out",
        "z": "155f01355999b8a5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 590,
        "y": 980,
        "wires": []
    },
    {
        "id": "22afab641ed23d0c",
        "type": "mqtt out",
        "z": "155f01355999b8a5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 1570,
        "y": 1080,
        "wires": []
    },
    {
        "id": "a8ab75d2f20dafe3",
        "type": "debug",
        "z": "155f01355999b8a5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 1120,
        "wires": []
    },
    {
        "id": "24c8dea9a817364d",
        "type": "link in",
        "z": "155f01355999b8a5",
        "name": "update firmware history",
        "links": [],
        "x": 705,
        "y": 1180,
        "wires": [
            [
                "c8d9e0f1a2b3c4d5"
            ]
        ]
    }
]