pi/nodered/flows.json
[
    {
        "id": "farm-flow-tab",
        "type": "tab",
        "label": "Farm Monitor",
        "disabled": false,
        "info": "Main flow for receiving ChirpStack events and storing to PostgreSQL"
    },
    {
        "id": "dashboard-tab",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "Dashboard UI for monitoring farm sensors"
    },
    {
        "id": "config-flow-tab",
        "type": "tab",
        "label": "Configuration",
        "disabled": false,
        "info": "System configuration and calibration"
    },
    {
        "id": "72aa6c226990e117",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-postgresql": "0.15.4",
            "node-red-contrib-uibuilder": "7.5.0"
        }
    },
    {
        "id": "e1b2c3d4e5f6a7b8",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-farm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a1b2c3d4e5f6a7b9",
        "type": "postgreSQLConfig",
        "name": "FarmMon DB",
        "host": "postgres",
        "port": "5432",
        "database": "farmmon",
        "ssl": false,
        "max": "10",
        "idle": "1000",
        "connectionTimeout": "10000",
        "user": "farmmon",
        "password": "farmmon"
    },
    {
        "id": "n1a2b3c4d5e6f7g8",
        "type": "mqtt in",
        "z": "farm-flow-tab",
        "name": "ChirpStack Uplinks",
        "topic": "application/+/device/+/event/up",
        "qos": "0",
        "datatype": "json",
        "broker": "e1b2c3d4e5f6a7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "n2a2b3c4d5e6f7g8",
                "n3a2b3c4d5e6f7g8"
            ]
        ]
    },
    {
        "id": "n1b2b3c4d5e6f7g8",
        "type": "mqtt in",
        "z": "farm-flow-tab",
        "name": "ChirpStack Joins",
        "topic": "application/+/device/+/event/join",
        "qos": "0",
        "datatype": "json",
        "broker": "e1b2c3d4e5f6a7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "n4a2b3c4d5e6f7g8"
            ]
        ]
    },
    {
        "id": "n2a2b3c4d5e6f7g8",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Parse Uplink",
        "func": "// Extract device info and payload from ChirpStack v4 event\nconst deviceEui = msg.payload.deviceInfo?.devEui || 'unknown';\nconst deviceName = msg.payload.deviceInfo?.deviceName || 'unknown';\n\n// Get decoded data (from codec) or raw base64\nlet data = msg.payload.object || {};\nif (Object.keys(data).length === 0 && msg.payload.data) {\n    data = { raw: msg.payload.data };\n}\n\n// Add metadata\ndata._rssi = msg.payload.rxInfo?.[0]?.rssi;\ndata._snr = msg.payload.rxInfo?.[0]?.snr;\ndata._fCnt = msg.payload.fCnt;\ndata._fPort = msg.payload.fPort;\n\n// Prepare for PostgreSQL - params array for $1, $2\nmsg.params = [deviceEui, JSON.stringify(data)];\nmsg.deviceEui = deviceEui;\nmsg.deviceName = deviceName;\nmsg.sensorData = data;\n\nnode.status({fill: 'green', shape: 'dot', text: deviceEui.substring(8,16)});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 200,
        "wires": [
            [
                "n5a2b3c4d5e6f7g8",
                "n6a2b3c4d5e6f7g8",
                "n7a2b3c4d5e6f7g8",
                "farm-to-dash-link"
            ]
        ]
    },
    {
        "id": "n3a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Raw MQTT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "n4a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Join Events",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 380,
        "wires": []
    },
    {
        "id": "n5a2b3c4d5e6f7g8",
        "type": "postgresql",
        "z": "farm-flow-tab",
        "name": "Store Reading",
        "query": "INSERT INTO readings (device_eui, data) VALUES ($1, $2::jsonb) RETURNING id",
        "postgreSQLConfig": "a1b2c3d4e5f6a7b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 680,
        "y": 100,
        "wires": [
            [
                "n8a2b3c4d5e6f7g8"
            ]
        ]
    },
    {
        "id": "n6a2b3c4d5e6f7g8",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Check Thresholds",
        "func": "const data = msg.sensorData;\nconst alerts = [];\n\nif (data.water_level !== undefined && data.water_level < 20) {\n    alerts.push({ type: 'water_level_low', message: `Water level low: ${data.water_level}%`, device: msg.deviceEui });\n}\nif (data.temperature !== undefined && data.temperature > 35) {\n    alerts.push({ type: 'temperature_high', message: `High temperature: ${data.temperature}°C`, device: msg.deviceEui });\n}\nif (data.battery !== undefined && data.battery < 20) {\n    alerts.push({ type: 'battery_low', message: `Battery low: ${data.battery}%`, device: msg.deviceEui });\n}\n\nif (alerts.length > 0) {\n    return { payload: alerts, deviceEui: msg.deviceEui };\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 200,
        "wires": [
            [
                "n9a2b3c4d5e6f7g8"
            ]
        ]
    },
    {
        "id": "n7a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Parsed Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 280,
        "wires": []
    },
    {
        "id": "n8a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "DB Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 100,
        "wires": []
    },
    {
        "id": "n9a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 200,
        "wires": []
    },
    {
        "id": "n10a2b3c4d5e6f7g",
        "type": "inject",
        "z": "farm-flow-tab",
        "name": "Test Uplink",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceInfo\":{\"devEui\":\"0011223344556677\",\"deviceName\":\"test-device\"},\"object\":{\"temperature\":25.5,\"battery\":85},\"rxInfo\":[{\"rssi\":-80,\"snr\":7.5}],\"fCnt\":123,\"fPort\":1}",
        "payloadType": "json",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "n2a2b3c4d5e6f7g8"
            ]
        ]
    },
    {
        "id": "farm-to-dash-link",
        "type": "link out",
        "z": "farm-flow-tab",
        "name": "To Dashboard",
        "mode": "link",
        "links": [
            "dash-link-in"
        ],
        "x": 615,
        "y": 360,
        "wires": []
    },
    {
        "id": "73106b72be8a16de",
        "type": "mqtt out",
        "z": "farm-flow-tab",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "e1b2c3d4e5f6a7b8",
        "x": 650,
        "y": 540,
        "wires": []
    },
    {
        "id": "6a670683601fd4f2",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "function 1",
        "func": "// Test downlink message formatter for ChirpStack v4\n// CRITICAL: devEui must be in the payload AND match the topic\n\n// Configuration - CHANGE THESE:\nconst applicationId = \"885c4dd2-e474-4265-bd25-2f838571f8de\";  // Your ChirpStack application ID (check ChirpStack UI)\nconst devEui = \"48ca43fffe3f0e70\";  // Your device EUI (lowercase, no colons)\nconst port = 20;  // Test port\nconst testMessage = \"Hello from Node-RED!\";  // Your test message\n\n// Convert message to bytes (UTF-8)\nconst messageBytes = Buffer.from(testMessage, 'utf8');\n\n// Convert to base64 (ChirpStack expects base64-encoded data)\nconst dataBase64 = messageBytes.toString('base64');\n\n// ChirpStack v4 downlink command format\n// CRITICAL: devEui field MUST be present and match the topic\nmsg.payload = {\n    devEui: devEui,        // REQUIRED: Must match topic DevEUI\n    confirmed: false,       // Unconfirmed downlink (faster, no ACK required)\n    fPort: port,           // Application port\n    data: dataBase64       // Base64-encoded payload\n};\n\n// Set topic - application ID and DevEUI must match payload\nmsg.topic = `application/${applicationId}/device/${devEui}/command/down`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "73106b72be8a16de",
                "5da88bd81d402cb6"
            ]
        ]
    },
    {
        "id": "2dca16451615ad3b",
        "type": "inject",
        "z": "farm-flow-tab",
        "name": "Test downlink",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 540,
        "wires": [
            [
                "6a670683601fd4f2"
            ]
        ]
    },
    {
        "id": "5da88bd81d402cb6",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 640,
        "wires": []
    },
    {
        "id": "dash-link-in",
        "type": "link in",
        "z": "dashboard-tab",
        "name": "Sensor Data Input",
        "links": [
            "farm-to-dash-link"
        ],
        "x": 25,
        "y": 260,
        "wires": [
            [
                "device-filter"
            ]
        ]
    },
    {
        "id": "device-filter",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Filter by Selected Device",
        "func": "// Only pass through data for the currently selected device\nconst selectedDevice = flow.get('selectedDevice');\nconst incomingDevice = msg.deviceEui;\n\n// Only pass if device matches\nif (incomingDevice === selectedDevice) {\n    return msg;\n}\n\n// Filter out other devices\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 260,
        "wires": [
            [
                "func-format-realtime"
            ]
        ]
    },
    {
        "id": "b3b0c47e274b2ad3",
        "type": "uibuilder",
        "z": "dashboard-tab",
        "name": "",
        "topic": "",
        "url": "dash",
        "okToGo": true,
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "ext-svelte",
        "extTemplate": "TotallyInformation/uib-template-svelte-simple",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "7.5.0",
        "showMsgUib": false,
        "title": "",
        "descr": "",
        "editurl": "vscode://vscode-remote/ssh-remote+farm/data/uibuilder/dash/?windowId=_blank",
        "x": 940,
        "y": 260,
        "wires": [
            [
                "switch-routes",
                "095210f707a5800d"
            ],
            [
                "f10783980b3c4254",
                "cc494d4a82164f4e"
            ]
        ]
    },
    {
        "id": "switch-routes",
        "type": "switch",
        "z": "dashboard-tab",
        "name": "Route by Topic",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "requestDeviceList",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "selectDevice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 180,
        "y": 560,
        "wires": [
            [
                "pg-get-devices"
            ],
            [
                "func-get-current",
                "func-get-history"
            ]
        ]
    },
    {
        "id": "pg-get-devices",
        "type": "postgresql",
        "z": "dashboard-tab",
        "name": "Get Devices",
        "query": "SELECT DISTINCT device_eui as eui FROM readings WHERE device_eui IS NOT NULL AND device_eui NOT IN ('unknown', '0011223344556677', 'aabbccdd11223344') ORDER BY eui",
        "postgreSQLConfig": "a1b2c3d4e5f6a7b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 450,
        "y": 440,
        "wires": [
            [
                "func-format-devices",
                "b9f69e7420e7a19e"
            ]
        ]
    },
    {
        "id": "func-format-devices",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Format Device List",
        "func": "const devices = msg.payload.map(row => ({\n    eui: row.eui,\n    name: `Device ${row.eui.substring(0, 8)}...`\n}));\n\nreturn [\n    {\n        topic: 'deviceList',\n        payload: devices\n    },\n    {\n        payload: devices[0].eui\n    }\n];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 440,
        "wires": [
            [
                "b3b0c47e274b2ad3"
            ],
            [
                "func-get-history",
                "func-get-current"
            ]
        ]
    },
    {
        "id": "func-get-current",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Get Current Data",
        "func": "const deviceEui = msg.payload;\n\nmsg.params = [deviceEui];\nmsg.query = `\n    SELECT\n        ts,\n        data\n    FROM readings\n    WHERE device_eui = $1\n    ORDER BY ts DESC\n    LIMIT 1\n`;\n\nflow.set('selectedDevice', deviceEui);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 520,
        "wires": [
            [
                "pg-exec-query"
            ]
        ]
    },
    {
        "id": "pg-exec-query",
        "type": "postgresql",
        "z": "dashboard-tab",
        "name": "Execute Query",
        "query": "",
        "postgreSQLConfig": "a1b2c3d4e5f6a7b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 680,
        "y": 520,
        "wires": [
            [
                "func-format-current"
            ]
        ]
    },
    {
        "id": "func-format-current",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Format Current Data",
        "func": "const row = msg.payload[0];\nif (!row) {\n    return {\n        topic: 'deviceData',\n        payload: { current: {} }\n    };\n}\n\nconst data = row.data;\n\n// Calculate uptime\nlet uptime = '--';\nif (data.tsr) {\n    const seconds = parseInt(data.tsr);\n    const days = Math.floor(seconds / 86400);\n    const hours = Math.floor((seconds % 86400) / 3600);\n    const mins = Math.floor((seconds % 3600) / 60);\n    uptime = `${days}d ${hours}h ${mins}m`;\n}\n\nreturn {\n    topic: 'deviceData',\n    payload: {\n        current: {\n            battery: parseFloat(data.bp) || 0,\n            rssi: parseFloat(data._rssi) || -120,\n            snr: parseFloat(data._snr) || -20,\n            waterLevel: parseFloat(data.wl) || 0,\n            waterVolume: parseFloat(data.tv) || 0,\n            flowRate: parseFloat(data.fr) || 0,\n            uptime: uptime\n        }\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 520,
        "wires": [
            [
                "b3b0c47e274b2ad3"
            ]
        ]
    },
    {
        "id": "func-get-history",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Query History",
        "func": "let deviceEui = msg.payload;\n\nif (!deviceEui) {\n    deviceEui = flow.get('selectedDevice');\n    if (!deviceEui) return null;\n}\n\nmsg.params = [deviceEui];\nmsg.query = `\n    WITH battery AS (\n        SELECT ts, (data->>'bp')::float as value\n        FROM readings\n        WHERE device_eui = $1\n        AND ts > NOW() - INTERVAL '24 hours'\n        AND data->>'bp' IS NOT NULL\n        ORDER BY ts\n    ),\n    water AS (\n        SELECT ts, (data->>'tv')::float as value\n        FROM readings\n        WHERE device_eui = $1\n        AND ts > NOW() - INTERVAL '24 hours'\n        AND data->>'tv' IS NOT NULL\n        ORDER BY ts\n    ),\n    rssi AS (\n        SELECT ts, (data->>'_rssi')::float as value\n        FROM readings\n        WHERE device_eui = $1\n        AND ts > NOW() - INTERVAL '1 hour'\n        AND data->>'_rssi' IS NOT NULL\n        ORDER BY ts\n    ),\n    snr AS (\n        SELECT ts, (data->>'_snr')::float as value\n        FROM readings\n        WHERE device_eui = $1\n        AND ts > NOW() - INTERVAL '24 hours'\n        AND data->>'_snr' IS NOT NULL\n        ORDER BY ts\n    )\n    SELECT\n        (SELECT json_agg(row_to_json(battery)) FROM battery) as battery,\n        (SELECT json_agg(row_to_json(water)) FROM water) as water,\n        (SELECT json_agg(row_to_json(rssi)) FROM rssi) as rssi,\n        (SELECT json_agg(row_to_json(snr)) FROM snr) as snr\n`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 600,
        "wires": [
            [
                "pg-exec-history"
            ]
        ]
    },
    {
        "id": "pg-exec-history",
        "type": "postgresql",
        "z": "dashboard-tab",
        "name": "Execute History Query",
        "query": "",
        "postgreSQLConfig": "a1b2c3d4e5f6a7b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 700,
        "y": 600,
        "wires": [
            [
                "func-format-charts"
            ]
        ]
    },
    {
        "id": "func-format-charts",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Format Chart Data",
        "func": "const result = msg.payload[0];\n\nreturn {\n    topic: 'chartData',\n    payload: {\n        battery: result.battery || [],\n        water: result.water || [],\n        rssi: result.rssi || [],\n        snr: result.snr || []\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 600,
        "wires": [
            [
                "b3b0c47e274b2ad3"
            ]
        ]
    },
    {
        "id": "func-format-realtime",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Format Real-time Update",
        "func": "const data = msg.sensorData;\n\nif (!data) {\n    node.warn('No sensor data in message');\n    return null;\n}\n\n// Calculate uptime from tsr (time since reset in seconds)\nlet uptime = '--';\nif (data.tsr) {\n    const seconds = parseInt(data.tsr);\n    const days = Math.floor(seconds / 86400);\n    const hours = Math.floor((seconds % 86400) / 3600);\n    const mins = Math.floor((seconds % 3600) / 60);\n    uptime = `${days}d ${hours}h ${mins}m`;\n}\n\nreturn {\n    topic: 'realtimeUpdate',\n    payload: {\n        battery: parseFloat(data.bp) || 0,\n        rssi: parseFloat(data._rssi) || -120,\n        snr: parseFloat(data._snr) || -20,\n        waterLevel: parseFloat(data.wl) || 0,\n        waterVolume: parseFloat(data.tv) || 0,\n        flowRate: parseFloat(data.fr) || 0,\n        uptime: uptime\n    }\n};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "b3b0c47e274b2ad3"
            ]
        ]
    },
    {
        "id": "b9f69e7420e7a19e",
        "type": "debug",
        "z": "dashboard-tab",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "f10783980b3c4254",
        "type": "function",
        "z": "dashboard-tab",
        "name": "load devices on connect",
        "func": "if (msg.uibuilderCtrl === \"client connect\"){\n    msg.topic = \"connected\"\n    return msg\n}\nreturn null",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 440,
        "wires": [
            [
                "pg-get-devices"
            ]
        ]
    },
    {
        "id": "cc494d4a82164f4e",
        "type": "debug",
        "z": "dashboard-tab",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 380,
        "wires": []
    },
    {
        "id": "095210f707a5800d",
        "type": "function",
        "z": "dashboard-tab",
        "name": "set range",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 160,
        "y": 680,
        "wires": [
            [
                "func-get-history"
            ]
        ]
    },
    {
        "id": "config-init",
        "type": "inject",
        "z": "config-flow-tab",
        "name": "Initialize Config on Startup",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "config-setup"
            ]
        ]
    },
    {
        "id": "config-setup",
        "type": "function",
        "z": "config-flow-tab",
        "name": "Setup Water Tank Config",
        "func": "// Water Tank Configuration\n// This is the single source of truth for tank parameters\n\nconst config = {\n    // Tank Physical Dimensions\n    tank: {\n        height_cm: 200,          // Total tank height in cm\n        capacity_liters: 5000,   // Total tank capacity in liters\n        diameter_cm: 180,        // Tank diameter for visualization\n        shape: 'cylindrical'     // cylindrical, rectangular\n    },\n    \n    // Distance Sensor Configuration\n    sensor: {\n        mounting_height_cm: 210,     // Height where sensor is mounted from ground\n        offset_cm: 0,                 // Calibration offset (adjust after testing)\n        min_reading_cm: 10,           // Minimum valid reading (sensor dead zone)\n        max_reading_cm: 220,          // Maximum valid reading\n        field_name: 'pd'              // Field name in data payload for distance\n    },\n    \n    // Flow Calculation\n    flow: {\n        reporting_interval_seconds: 30,  // How often device reports\n        flow_field_name: 'tv',           // Total volume field name\n        enable_flow_calculation: true,   // Enable flow rate calculations\n        flow_detection_threshold_liters: 5  // Minimum change to detect flow\n    },\n    \n    // Alert Thresholds\n    alerts: {\n        low_level_percent: 20,\n        critical_level_percent: 10,\n        high_flow_rate_lph: 1000  // Liters per hour - potential leak\n    }\n};\n\n// Store in global context\nglobal.set('waterTankConfig', config);\n\n// Return config for debugging\nmsg.payload = config;\nnode.status({fill: 'green', shape: 'dot', text: 'Config loaded'});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 80,
        "wires": [
            [
                "config-debug"
            ]
        ]
    },
    {
        "id": "config-debug",
        "type": "debug",
        "z": "config-flow-tab",
        "name": "Config Loaded",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 80,
        "wires": []
    }
]