edge/pi/nodered/flows.json
[
    {
        "id": "farm-flow-tab",
        "type": "tab",
        "label": "Farm Monitor",
        "disabled": false,
        "info": "Main flow for receiving ChirpStack events and storing to PostgreSQL"
    },
    {
        "id": "chirpstack-mqtt-in",
        "type": "mqtt in",
        "z": "farm-flow-tab",
        "name": "ChirpStack Events",
        "topic": "application/+/device/+/event/up",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["parse-uplink"]]
    },
    {
        "id": "parse-uplink",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Parse Uplink",
        "func": "// Extract device EUI and payload from ChirpStack event\nconst deviceEui = msg.payload.deviceInfo?.devEui || 'unknown';\nconst data = msg.payload.object || msg.payload.data || {};\n\n// Prepare for PostgreSQL insert\nmsg.payload = {\n    device_eui: deviceEui,\n    data: data\n};\n\n// Also set for dashboard\nmsg.deviceEui = deviceEui;\nmsg.sensorData = data;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [["store-reading", "check-thresholds", "debug-uplink"]]
    },
    {
        "id": "store-reading",
        "type": "postgresql",
        "z": "farm-flow-tab",
        "name": "Store Reading",
        "query": "INSERT INTO readings (device_eui, data) VALUES ($1, $2)",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 80,
        "wires": [[]]
    },
    {
        "id": "check-thresholds",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Check Thresholds",
        "func": "// Example threshold checks\nconst data = msg.sensorData;\nconst alerts = [];\n\n// Water level low\nif (data.water_level !== undefined && data.water_level < 20) {\n    alerts.push({\n        type: 'water_level_low',\n        message: `Water level low: ${data.water_level}%`,\n        device: msg.deviceEui\n    });\n}\n\n// Temperature high\nif (data.temperature !== undefined && data.temperature > 35) {\n    alerts.push({\n        type: 'temperature_high',\n        message: `High temperature: ${data.temperature}°C`,\n        device: msg.deviceEui\n    });\n}\n\nif (alerts.length > 0) {\n    return { payload: alerts };\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [["send-alert"]]
    },
    {
        "id": "send-alert",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Format Alert",
        "func": "// Format alerts for notification\nconst alerts = msg.payload;\nlet message = '';\n\nalerts.forEach(alert => {\n    message += `⚠️ ${alert.message}\\n`;\n});\n\nmsg.payload = message;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 140,
        "wires": [["debug-alerts"]]
    },
    {
        "id": "debug-uplink",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Uplink Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-alerts",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Alert Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 140,
        "wires": []
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "pg-config",
        "type": "postgreSQLConfig",
        "name": "FarmMon DB",
        "host": "postgres",
        "port": "5432",
        "database": "farmmon",
        "ssl": false,
        "user": "farmmon",
        "password": "farmmon",
        "max": "10",
        "min": "1",
        "idle": "1000",
        "connectionTimeout": "10000",
        "requestTimeout": "15000"
    },
    {
        "id": "webhook-tab",
        "type": "tab",
        "label": "Webhooks",
        "disabled": false,
        "info": "HTTP endpoints for external integrations"
    },
    {
        "id": "webhook-status",
        "type": "http in",
        "z": "webhook-tab",
        "name": "GET /api/status",
        "url": "/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [["status-response"]]
    },
    {
        "id": "status-response",
        "type": "function",
        "z": "webhook-tab",
        "name": "Build Status",
        "func": "msg.payload = {\n    status: 'ok',\n    timestamp: new Date().toISOString(),\n    service: 'farm-monitor'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 100,
        "wires": [["http-response"]]
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "webhook-tab",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 520,
        "y": 100,
        "wires": []
    },
    {
        "id": "webhook-readings",
        "type": "http in",
        "z": "webhook-tab",
        "name": "GET /api/readings",
        "url": "/readings/:device",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 180,
        "wires": [["query-readings"]]
    },
    {
        "id": "query-readings",
        "type": "postgresql",
        "z": "webhook-tab",
        "name": "Query Readings",
        "query": "SELECT * FROM readings WHERE device_eui = $1 ORDER BY ts DESC LIMIT 100",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 380,
        "y": 180,
        "wires": [["readings-response"]]
    },
    {
        "id": "readings-response",
        "type": "http response",
        "z": "webhook-tab",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 180,
        "wires": []
    }
]
