edge/pi/nodered/flows.json
[
    {
        "id": "farm-flow-tab",
        "type": "tab",
        "label": "Farm Monitor",
        "disabled": false,
        "info": "Main flow for receiving ChirpStack events and storing to PostgreSQL"
    },
    {
        "id": "chirpstack-mqtt-in",
        "type": "mqtt in",
        "z": "farm-flow-tab",
        "name": "ChirpStack Uplinks",
        "topic": "application/+/device/+/event/up",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["parse-uplink", "debug-raw"]]
    },
    {
        "id": "chirpstack-join-in",
        "type": "mqtt in",
        "z": "farm-flow-tab",
        "name": "ChirpStack Joins",
        "topic": "application/+/device/+/event/join",
        "qos": "0",
        "datatype": "json",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [["debug-join"]]
    },
    {
        "id": "parse-uplink",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Parse Uplink",
        "func": "// Extract device info and payload from ChirpStack v4 event\nconst deviceEui = msg.payload.deviceInfo?.devEui || 'unknown';\nconst deviceName = msg.payload.deviceInfo?.deviceName || 'unknown';\nconst appId = msg.payload.deviceInfo?.applicationId || 'unknown';\n\n// Get decoded data (from codec) or raw base64\nlet data = msg.payload.object || {};\nif (Object.keys(data).length === 0 && msg.payload.data) {\n    // No codec, store raw base64\n    data = { raw: msg.payload.data };\n}\n\n// Add metadata\ndata._rssi = msg.payload.rxInfo?.[0]?.rssi;\ndata._snr = msg.payload.rxInfo?.[0]?.snr;\ndata._fCnt = msg.payload.fCnt;\ndata._fPort = msg.payload.fPort;\ndata._dr = msg.payload.dr;\n\n// Prepare for PostgreSQL - params array for $1, $2\nmsg.params = [deviceEui, JSON.stringify(data)];\n\n// Also keep structured data for downstream nodes\nmsg.deviceEui = deviceEui;\nmsg.deviceName = deviceName;\nmsg.sensorData = data;\n\nnode.status({fill: 'green', shape: 'dot', text: deviceEui.substring(0,8) + '...'});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [["store-reading", "check-thresholds", "debug-parsed"]]
    },
    {
        "id": "store-reading",
        "type": "postgresql",
        "z": "farm-flow-tab",
        "name": "Store Reading",
        "query": "INSERT INTO readings (device_eui, data) VALUES ($1, $2::jsonb) RETURNING id",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 80,
        "wires": [["debug-db"]]
    },
    {
        "id": "check-thresholds",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Check Thresholds",
        "func": "// Example threshold checks\nconst data = msg.sensorData;\nconst alerts = [];\n\n// Water level low\nif (data.water_level !== undefined && data.water_level < 20) {\n    alerts.push({\n        type: 'water_level_low',\n        message: `Water level low: ${data.water_level}%`,\n        device: msg.deviceEui\n    });\n}\n\n// Temperature high\nif (data.temperature !== undefined && data.temperature > 35) {\n    alerts.push({\n        type: 'temperature_high',\n        message: `High temperature: ${data.temperature}°C`,\n        device: msg.deviceEui\n    });\n}\n\n// Battery low\nif (data.battery !== undefined && data.battery < 20) {\n    alerts.push({\n        type: 'battery_low',\n        message: `Battery low: ${data.battery}%`,\n        device: msg.deviceEui\n    });\n}\n\nif (alerts.length > 0) {\n    return { payload: alerts, deviceEui: msg.deviceEui };\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [["store-alert", "debug-alerts"]]
    },
    {
        "id": "store-alert",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Format Alert for DB",
        "func": "// Store each alert to database\nconst alerts = msg.payload;\nconst messages = [];\n\nfor (const alert of alerts) {\n    messages.push({\n        params: [alert.device, alert.type, alert.message]\n    });\n}\n\nreturn [messages];",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 140,
        "wires": [["store-alert-db"]]
    },
    {
        "id": "store-alert-db",
        "type": "postgresql",
        "z": "farm-flow-tab",
        "name": "Insert Alert",
        "query": "INSERT INTO alerts (device_eui, alert_type, message) VALUES ($1, $2, $3)",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 950,
        "y": 140,
        "wires": [[]]
    },
    {
        "id": "debug-raw",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Raw MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "debug-parsed",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Parsed Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-db",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "DB Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug-alerts",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug-join",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Join Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-farm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "pg-config",
        "type": "postgreSQLConfig",
        "name": "FarmMon DB",
        "host": "postgres",
        "port": "5432",
        "database": "farmmon",
        "ssl": false,
        "user": "farmmon",
        "password": "farmmon",
        "max": "10",
        "min": "1",
        "idle": "1000",
        "connectionTimeout": "10000",
        "requestTimeout": "15000"
    },
    {
        "id": "inject-test",
        "type": "inject",
        "z": "farm-flow-tab",
        "name": "Test Uplink",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceInfo\":{\"devEui\":\"0011223344556677\",\"deviceName\":\"test-device\",\"applicationId\":\"1\"},\"object\":{\"temperature\":25.5,\"battery\":85},\"rxInfo\":[{\"rssi\":-80,\"snr\":7.5}],\"fCnt\":123,\"fPort\":1}",
        "payloadType": "json",
        "x": 120,
        "y": 260,
        "wires": [["parse-uplink"]]
    },
    {
        "id": "webhook-tab",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": "HTTP endpoints for external access"
    },
    {
        "id": "webhook-status",
        "type": "http in",
        "z": "webhook-tab",
        "name": "GET /api/status",
        "url": "/api/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [["status-response"]]
    },
    {
        "id": "status-response",
        "type": "function",
        "z": "webhook-tab",
        "name": "Build Status",
        "func": "msg.payload = {\n    status: 'ok',\n    timestamp: new Date().toISOString(),\n    service: 'farm-monitor-nodered'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [["http-response"]]
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "webhook-tab",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "webhook-readings",
        "type": "http in",
        "z": "webhook-tab",
        "name": "GET /api/readings/:device",
        "url": "/api/readings/:device",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 160,
        "wires": [["prep-readings-query"]]
    },
    {
        "id": "prep-readings-query",
        "type": "function",
        "z": "webhook-tab",
        "name": "Prep Query",
        "func": "msg.params = [msg.req.params.device];\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 160,
        "wires": [["query-readings"]]
    },
    {
        "id": "query-readings",
        "type": "postgresql",
        "z": "webhook-tab",
        "name": "Query Readings",
        "query": "SELECT id, device_eui, data, ts FROM readings WHERE device_eui = $1 ORDER BY ts DESC LIMIT 100",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 580,
        "y": 160,
        "wires": [["readings-response"]]
    },
    {
        "id": "readings-response",
        "type": "http response",
        "z": "webhook-tab",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 760,
        "y": 160,
        "wires": []
    },
    {
        "id": "webhook-latest",
        "type": "http in",
        "z": "webhook-tab",
        "name": "GET /api/latest",
        "url": "/api/latest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 240,
        "wires": [["query-latest"]]
    },
    {
        "id": "query-latest",
        "type": "postgresql",
        "z": "webhook-tab",
        "name": "Latest per Device",
        "query": "SELECT DISTINCT ON (device_eui) device_eui, data, ts FROM readings ORDER BY device_eui, ts DESC",
        "postgreSQLConfig": "pg-config",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 370,
        "y": 240,
        "wires": [["latest-response"]]
    },
    {
        "id": "latest-response",
        "type": "http response",
        "z": "webhook-tab",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 240,
        "wires": []
    }
]
