edge/pi/nodered/flows.json
[
    {
        "id": "e1b2c3d4e5f6a7b8",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered-farm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a1b2c3d4e5f6a7b9",
        "type": "postgreSQLConfig",
        "name": "FarmMon DB",
        "host": "postgres",
        "port": "5432",
        "database": "farmmon",
        "ssl": false,
        "user": "farmmon",
        "password": "farmmon",
        "max": "10",
        "min": "1",
        "idle": "1000",
        "connectionTimeout": "10000",
        "requestTimeout": "15000"
    },
    {
        "id": "farm-flow-tab",
        "type": "tab",
        "label": "Farm Monitor",
        "disabled": false,
        "info": "Main flow for receiving ChirpStack events and storing to PostgreSQL"
    },
    {
        "id": "n1a2b3c4d5e6f7g8",
        "type": "mqtt in",
        "z": "farm-flow-tab",
        "name": "ChirpStack Uplinks",
        "topic": "application/+/device/+/event/up",
        "qos": "0",
        "datatype": "json",
        "broker": "e1b2c3d4e5f6a7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [["n2a2b3c4d5e6f7g8", "n3a2b3c4d5e6f7g8"]]
    },
    {
        "id": "n1b2b3c4d5e6f7g8",
        "type": "mqtt in",
        "z": "farm-flow-tab",
        "name": "ChirpStack Joins",
        "topic": "application/+/device/+/event/join",
        "qos": "0",
        "datatype": "json",
        "broker": "e1b2c3d4e5f6a7b8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 180,
        "wires": [["n4a2b3c4d5e6f7g8"]]
    },
    {
        "id": "n2a2b3c4d5e6f7g8",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Parse Uplink",
        "func": "// Extract device info and payload from ChirpStack v4 event\nconst deviceEui = msg.payload.deviceInfo?.devEui || 'unknown';\nconst deviceName = msg.payload.deviceInfo?.deviceName || 'unknown';\n\n// Get decoded data (from codec) or raw base64\nlet data = msg.payload.object || {};\nif (Object.keys(data).length === 0 && msg.payload.data) {\n    data = { raw: msg.payload.data };\n}\n\n// Add metadata\ndata._rssi = msg.payload.rxInfo?.[0]?.rssi;\ndata._snr = msg.payload.rxInfo?.[0]?.snr;\ndata._fCnt = msg.payload.fCnt;\ndata._fPort = msg.payload.fPort;\n\n// Prepare for PostgreSQL - params array for $1, $2\nmsg.params = [deviceEui, JSON.stringify(data)];\nmsg.deviceEui = deviceEui;\nmsg.deviceName = deviceName;\nmsg.sensorData = data;\n\nnode.status({fill: 'green', shape: 'dot', text: deviceEui.substring(0,8) + '...'});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 100,
        "wires": [["n5a2b3c4d5e6f7g8", "n6a2b3c4d5e6f7g8", "n7a2b3c4d5e6f7g8", "dash1"]]
    },
    {
        "id": "n3a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Raw MQTT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 40,
        "wires": []
    },
    {
        "id": "n4a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Join Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 180,
        "wires": []
    },
    {
        "id": "n5a2b3c4d5e6f7g8",
        "type": "postgresql",
        "z": "farm-flow-tab",
        "name": "Store Reading",
        "query": "INSERT INTO readings (device_eui, data) VALUES ($1, $2::jsonb) RETURNING id",
        "postgreSQLConfig": "a1b2c3d4e5f6a7b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 530,
        "y": 80,
        "wires": [["n8a2b3c4d5e6f7g8"]]
    },
    {
        "id": "n6a2b3c4d5e6f7g8",
        "type": "function",
        "z": "farm-flow-tab",
        "name": "Check Thresholds",
        "func": "const data = msg.sensorData;\nconst alerts = [];\n\nif (data.water_level !== undefined && data.water_level < 20) {\n    alerts.push({ type: 'water_level_low', message: `Water level low: ${data.water_level}%`, device: msg.deviceEui });\n}\nif (data.temperature !== undefined && data.temperature > 35) {\n    alerts.push({ type: 'temperature_high', message: `High temperature: ${data.temperature}°C`, device: msg.deviceEui });\n}\nif (data.battery !== undefined && data.battery < 20) {\n    alerts.push({ type: 'battery_low', message: `Battery low: ${data.battery}%`, device: msg.deviceEui });\n}\n\nif (alerts.length > 0) {\n    return { payload: alerts, deviceEui: msg.deviceEui };\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 140,
        "wires": [["n9a2b3c4d5e6f7g8"]]
    },
    {
        "id": "n7a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Parsed Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 200,
        "wires": []
    },
    {
        "id": "n8a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "DB Result",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 80,
        "wires": []
    },
    {
        "id": "n9a2b3c4d5e6f7g8",
        "type": "debug",
        "z": "farm-flow-tab",
        "name": "Alerts",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "n10a2b3c4d5e6f7g",
        "type": "inject",
        "z": "farm-flow-tab",
        "name": "Test Uplink",
        "props": [{"p": "payload"}],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"deviceInfo\":{\"devEui\":\"0011223344556677\",\"deviceName\":\"test-device\"},\"object\":{\"temperature\":25.5,\"battery\":85},\"rxInfo\":[{\"rssi\":-80,\"snr\":7.5}],\"fCnt\":123,\"fPort\":1}",
        "payloadType": "json",
        "x": 120,
        "y": 260,
        "wires": [["n2a2b3c4d5e6f7g8"]]
    },
    {
        "id": "dashboard-tab",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": "Dashboard UI for monitoring farm sensors"
    },
    {
        "id": "dash-ui",
        "type": "ui_base",
        "z": "dashboard-tab",
        "name": "Farm Monitor Dashboard",
        "path": "ui",
        "index": false,
        "allowSvgEdit": false,
        "showPathInSidebar": true
    },
    {
        "id": "dash1",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Extract Battery",
        "func": "// Extract battery percentage from sensor data\nconst data = msg.sensorData || {};\nconst batteryPercent = data.bp; // Battery percent key is 'bp'\n\n// Only send to dashboard if battery data exists\nif (batteryPercent !== undefined && batteryPercent !== null) {\n    msg.payload = parseFloat(batteryPercent);\n    msg.topic = msg.deviceName || msg.deviceEui || 'device';\n    msg.deviceInfo = {\n        name: msg.deviceName,\n        eui: msg.deviceEui\n    };\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 100,
        "wires": [["dash-gauge", "dash-battery-text"]]
    },
    {
        "id": "dash-gauge",
        "type": "ui_gauge",
        "z": "dashboard-tab",
        "name": "Battery Level",
        "group": "dash-group",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Battery",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "className": "",
        "x": 540,
        "y": 100,
        "wires": []
    },
    {
        "id": "dash-text",
        "type": "ui_text",
        "z": "dashboard-tab",
        "group": "dash-group",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Device Name",
        "label": "Device",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "dash-battery-text",
        "type": "function",
        "z": "dashboard-tab",
        "name": "Format Device Text",
        "func": "msg.payload = msg.deviceInfo?.name || msg.deviceInfo?.eui || 'Unknown Device';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [["dash-text"]]
    },
    {
        "id": "dash-group",
        "type": "ui_group",
        "z": "",
        "name": "Battery Monitor",
        "tab": "dash-tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dash-tab",
        "type": "ui_tab",
        "z": "",
        "name": "Farm Monitor",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "api-flow-tab",
        "type": "tab",
        "label": "API",
        "disabled": false,
        "info": "HTTP endpoints"
    },
    {
        "id": "api1",
        "type": "http in",
        "z": "api-flow-tab",
        "name": "GET /api/status",
        "url": "/api/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 80,
        "wires": [["api2"]]
    },
    {
        "id": "api2",
        "type": "function",
        "z": "api-flow-tab",
        "name": "Build Status",
        "func": "msg.payload = {\n    status: 'ok',\n    timestamp: new Date().toISOString(),\n    service: 'farm-monitor'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 80,
        "wires": [["api3"]]
    },
    {
        "id": "api3",
        "type": "http response",
        "z": "api-flow-tab",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 540,
        "y": 80,
        "wires": []
    },
    {
        "id": "api4",
        "type": "http in",
        "z": "api-flow-tab",
        "name": "GET /api/latest",
        "url": "/api/latest",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 160,
        "wires": [["api5"]]
    },
    {
        "id": "api5",
        "type": "postgresql",
        "z": "api-flow-tab",
        "name": "Latest per Device",
        "query": "SELECT DISTINCT ON (device_eui) device_eui, data, ts FROM readings ORDER BY device_eui, ts DESC",
        "postgreSQLConfig": "a1b2c3d4e5f6a7b9",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 370,
        "y": 160,
        "wires": [["api6"]]
    },
    {
        "id": "api6",
        "type": "http response",
        "z": "api-flow-tab",
        "name": "Response",
        "statusCode": "200",
        "headers": {},
        "x": 560,
        "y": 160,
        "wires": []
    }
]
